# Web scrapping

My original dataset from Kaggle contained NBA playere stats from 1995 to 2923, which is only 27 years of data. Therefore I decided to scrap an extra 13 years of data from 1981 to 1994 to add my data set for better modelling performance later on.

In [1]:
import os


import numpy as np
import pandas as pd


import matplotlib.pyplot as plt
import seaborn as sns


import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from scipy import stats
from scipy.stats import norm

c:\Users\ivant\anaconda3\envs\capstone\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\ivant\anaconda3\envs\capstone\lib\site-packages\numpy\.libs\libopenblas.noijjg62emaszi6nyurl6jbkm4evbgm7.gfortran-win_amd64.dll
c:\Users\ivant\anaconda3\envs\capstone\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:\n%s" %

There are 3 types of datasets I need to scrap from the basetball reference website: average player stats per game, advanced player stats per game and roster stats for every team each year.

I am starting off scraping the average player stats per game first.

In [37]:
# The procedure is simple, firstly read the html of the basetball reference page containing the average player stats for the year I want. Take the first table in the page and put it in python. Then repeat this for pages for every year from 1994 to 1982.

tables0 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1994_per_game.html')
df0 = tables0[0]
df0['season'] = '1994/1995'

tables1 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1993_per_game.html')
df1 = tables1[0]
df1['season'] = '1993/1994'

tables2 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1992_per_game.html')
df2 = tables2[0]
df2['season'] = '1992/1993'

tables3 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1991_per_game.html')
df3 = tables3[0]
df3['season'] = '1991/1992'

tables4 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1990_per_game.html')
df4 = tables4[0]
df4['season'] = '1990/1991'

tables5 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1989_per_game.html')
df5 = tables5[0]
df5['season'] = '1989/1990'

tables6 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1988_per_game.html')
df6 = tables6[0]
df6['season'] = '1988/1989'

tables7 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1987_per_game.html')
df7 = tables7[0]
df7['season'] = '1987/1988'

tables8 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1986_per_game.html')
df8 = tables8[0]
df8['season'] = '1986/1987'

tables9 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1985_per_game.html')
df9 = tables9[0]
df9['season'] = '1985/1986'

tables10 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1984_per_game.html')
df10 = tables10[0]
df10['season'] = '1984/1985'

tables11 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1983_per_game.html')
df11 = tables11[0]
df11['season'] = '1983/1984'

tables12 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1982_per_game.html')
df12 = tables12[0]
df12['season'] = '1982/1983'

avg_df = pd.concat([df0, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], ignore_index=True) # Now concat all the years of data into one single dataframe, now we have a dataframe for average stats from 1992 to 1994
avg_df # Double check the dataframe

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,season
0,1,Alaa Abdelnaby,PF,25,BOS,13,0,12.2,1.8,4.2,.436,0.0,0.0,NaN,1.8,4.2,.436,.436,1.2,1.9,.640,0.9,2.6,3.5,0.2,0.2,0.2,1.3,1.5,4.9,1994/1995
1,2,Mahmoud Abdul-Rauf,PG,24,DEN,80,78,32.7,7.4,16.0,.460,0.5,1.7,.316,6.8,14.3,.476,.476,2.7,2.9,.956,0.3,1.8,2.1,4.5,1.0,0.1,1.9,1.9,18.0,1994/1995
2,3,Michael Adams,PG,31,WSB,70,67,33.4,4.1,10.0,.408,0.8,2.7,.288,3.3,7.2,.454,.448,3.2,3.9,.830,0.5,2.1,2.6,6.9,1.4,0.1,2.4,2.0,12.1,1994/1995
3,4,Mark Aguirre,SF,34,LAC,39,0,22.0,4.2,8.9,.468,0.9,2.4,.398,3.2,6.5,.494,.522,1.3,1.8,.694,0.7,2.3,3.0,2.7,0.5,0.2,1.8,2.5,10.6,1994/1995
4,5,Danny Ainge,SG,34,PHO,68,1,22.9,3.3,7.9,.417,1.2,3.6,.328,2.1,4.3,.491,.492,1.1,1.4,.830,0.4,1.5,1.9,2.6,0.8,0.1,1.2,2.1,8.9,1994/1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5594,312,Mike Woodson,SG,23,KCK,76,74,28.8,6.7,13.2,.507,0.1,0.3,.292,6.6,12.9,.513,.511,2.6,3.3,.780,1.3,1.8,3.1,2.7,1.8,0.4,1.9,2.6,16.1,1982/1983
5595,313,Orlando Woolridge,SF,22,CHI,75,12,15.8,2.7,5.3,.513,0.0,0.0,.000,2.7,5.2,.517,.513,1.9,2.7,.699,1.1,1.9,3.0,1.1,0.3,0.3,1.4,2.0,7.3,1982/1983
5596,314,Sam Worthen,PG,24,UTA,5,0,4.4,0.4,1.0,.400,0.0,0.0,NaN,0.4,1.0,.400,.400,0.0,0.0,NaN,0.2,0.0,0.2,0.6,0.0,0.0,0.4,0.6,0.8,1982/1983
5597,315,Larry Wright,PG,27,DET,1,0,6.0,0.0,1.0,.000,0.0,0.0,NaN,0.0,1.0,.000,.000,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1982/1983
5598,316,Rich Yonakor,PF,23,SAS,10,0,7.0,1.4,2.6,.538,0.0,0.0,NaN,1.4,2.6,.538,.538,0.5,0.7,.714,1.3,1.4,2.7,0.3,0.1,0.2,0.2,0.7,3.3,1982/1983

In [38]:
# Do the same for advanced stats. I just need to change the "per_game" in the html to "advanced"

tables0 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1994_advanced.html')
df0 = tables0[0]
df0['season'] = '1994/1995'

tables1 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1993_advanced.html')
df1 = tables1[0]
df1['season'] = '1993/1994'

tables2 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1992_advanced.html')
df2 = tables2[0]
df2['season'] = '1992/1993'

tables3 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1991_advanced.html')
df3 = tables3[0]
df3['season'] = '1991/1992'

tables4 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1990_advanced.html')
df4 = tables4[0]
df4['season'] = '1990/1991'

tables5 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1989_advanced.html')
df5 = tables5[0]
df5['season'] = '1989/1990'

tables6 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1988_advanced.html')
df6 = tables6[0]
df6['season'] = '1988/1989'

tables7 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1987_advanced.html')
df7 = tables7[0]
df7['season'] = '1987/1988'

tables8 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1986_advanced.html')
df8 = tables8[0]
df8['season'] = '1986/1987'

tables9 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1985_advanced.html')
df9 = tables9[0]
df9['season'] = '1985/1986'

tables10 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1984_advanced.html')
df10 = tables10[0]
df10['season'] = '1984/1985'

tables11 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1983_advanced.html')
df11 = tables11[0]
df11['season'] = '1983/1984'

tables12 = pd.read_html('https://www.basketball-reference.com/leagues/NBA_1982_advanced.html')
df12 = tables12[0]
df12['season'] = '1982/1983'

adv_df = pd.concat([df0, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], ignore_index=True)
adv_df #Double check the dataframe to see if the advanced dataframe has the same number of rows as average dataframe

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP,season
0,1,Alaa Abdelnaby,PF,25,BOS,13,159,9.2,.485,.000,.455,8.5,24.2,16.3,2.7,0.6,1.2,20.5,22.6,NaN,-0.2,0.1,-0.1,-0.032,NaN,-5.3,-2.2,-7.4,-0.2,1994/1995
1,2,Mahmoud Abdul-Rauf,PG,24,DEN,80,2617,16.7,.521,.104,.179,1.2,5.8,3.6,24.1,1.6,0.2,9.9,24.9,NaN,4.4,2.4,6.8,.125,NaN,1.5,-0.7,0.8,1.9,1994/1995
2,3,Michael Adams,PG,31,WSB,70,2337,14.2,.520,.274,.387,1.8,7.4,4.6,29.8,2.1,0.2,17.0,18.1,NaN,2.9,0.2,3.1,.063,NaN,0.5,-1.5,-1.0,0.6,1994/1995
3,4,Mark Aguirre,SF,34,LAC,39,859,13.1,.544,.267,.207,3.5,10.8,7.2,18.5,1.2,0.6,15.6,21.6,NaN,0.6,0.3,0.9,.050,NaN,-0.5,-1.4,-1.8,0.0,1994/1995
4,5,Danny Ainge,SG,34,PHO,68,1555,11.8,.524,.454,.175,2.0,7.4,4.7,15.9,1.8,0.3,12.3,17.8,NaN,1.9,1.0,2.8,.087,NaN,-0.8,-0.5,-1.3,0.3,1994/1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5594,312,Mike Woodson,SG,23,KCK,76,2186,17.8,.549,.024,.254,4.8,7.2,6.0,14.0,2.9,0.9,11.5,23.5,NaN,3.0,2.3,5.3,.116,NaN,1.4,0.9,2.3,2.3,1982/1983
5595,313,Orlando Woolridge,SF,22,CHI,75,1188,13.4,.565,.008,.523,8.2,13.3,10.8,10.1,0.9,1.1,18.1,20.9,NaN,1.0,0.8,1.8,.073,NaN,-1.1,-0.9,-2.1,0.0,1982/1983
5596,314,Sam Worthen,PG,24,UTA,5,22,1.9,.400,.000,.000,4.8,0.0,2.4,16.3,0.0,0.0,28.6,12.7,NaN,0.0,0.0,0.0,-0.096,NaN,-4.5,-0.5,-5.0,0.0,1982/1983
5597,315,Larry Wright,PG,27,DET,1,6,-17.2,.000,.000,.000,0.0,0.0,0.0,0.0,0.0,0.0,50.0,13.0,NaN,0.0,0.0,0.0,-0.349,NaN,-5.1,-0.2,-5.3,0.0,1982/1983
5598,316,Rich Yonakor,PF,23,SAS,10,70,20.4,.567,.000,.269,19.9,21.4,20.7,5.8,0.7,1.6,6.4,17.7,NaN,0.2,0.1,0.3,.201,NaN,-1.2,-0.6,-1.8,0.1,1982/1983

Data for the roster stats is way more tedious to scrap. I had to read 27 teams each year, for all 13 years. This resulted me to read 351 different pages in total for roster stats. I managed to do it with copy pasting and manipulating the CTL + shift + L technique. I firstly make dataframes for each team for every year. Some teams didn't exsisted in some of these years so I had to remove some years for some teams.

In [39]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/SEA/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'SEA'

team1 = pd.read_html('https://www.basketball-reference.com/teams/SEA/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'SEA'

team2 = pd.read_html('https://www.basketball-reference.com/teams/SEA/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'SEA'

team3 = pd.read_html('https://www.basketball-reference.com/teams/SEA/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'SEA'

team4 = pd.read_html('https://www.basketball-reference.com/teams/SEA/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'SEA'

team5 = pd.read_html('https://www.basketball-reference.com/teams/SEA/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'SEA'

team6 = pd.read_html('https://www.basketball-reference.com/teams/SEA/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'SEA'

team7 = pd.read_html('https://www.basketball-reference.com/teams/SEA/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'SEA'

team8 = pd.read_html('https://www.basketball-reference.com/teams/SEA/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'SEA'

team9 = pd.read_html('https://www.basketball-reference.com/teams/SEA/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'SEA'

team10 = pd.read_html('https://www.basketball-reference.com/teams/SEA/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'SEA'

team11 = pd.read_html('https://www.basketball-reference.com/teams/SEA/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'SEA'

team12 = pd.read_html('https://www.basketball-reference.com/teams/SEA/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'SEA'

SEA_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
SEA_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,17,Vincent Askew,SG,6-6,210,"February 28, 1966",us,4,Memphis,1994/1995,SEA
1,44,Michael Cage,C,6-9,224,"January 28, 1962",us,9,San Diego State,1994/1995,SEA
2,3,Alphonso Ford,PG,6-1,190,"October 31, 1971",us,R,Mississippi Valley State University,1994/1995,SEA
3,13,Kendall Gill,SG,6-5,195,"May 25, 1968",us,3,Illinois,1994/1995,SEA
4,50,Ervin Johnson,C,6-11,245,"December 21, 1967",us,R,New Orleans,1994/1995,SEA
...,...,...,...,...,...,...,...,...,...,...,...
184,20,Phil Smith,SG,6-4,185,"April 22, 1952",us,7,San Francisco,1982/1983,SEA
185,33,Ray Tolbert,PF,6-9,225,"September 10, 1958",us,R,Indiana,1982/1983,SEA
186,23,Danny Vranes,SF,6-7,210,"October 29, 1958",us,R,Utah,1982/1983,SEA
187,42,Wally Walker,SF,6-7,190,"July 18, 1954",us,5,Virginia,1982/1983,SEA
188,1,Gus Williams,PG,6-2,175,"October 10, 1953",us,5,USC,1982/1983,SEA

In [40]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/NYK/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'NYK'

team1 = pd.read_html('https://www.basketball-reference.com/teams/NYK/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'NYK'

team2 = pd.read_html('https://www.basketball-reference.com/teams/NYK/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'NYK'

team3 = pd.read_html('https://www.basketball-reference.com/teams/NYK/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'NYK'

team4 = pd.read_html('https://www.basketball-reference.com/teams/NYK/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'NYK'

team5 = pd.read_html('https://www.basketball-reference.com/teams/NYK/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'NYK'

team6 = pd.read_html('https://www.basketball-reference.com/teams/NYK/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'NYK'

team7 = pd.read_html('https://www.basketball-reference.com/teams/NYK/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'NYK'

team8 = pd.read_html('https://www.basketball-reference.com/teams/NYK/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'NYK'

team9 = pd.read_html('https://www.basketball-reference.com/teams/NYK/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'NYK'

team10 = pd.read_html('https://www.basketball-reference.com/teams/NYK/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'NYK'

team11 = pd.read_html('https://www.basketball-reference.com/teams/NYK/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'NYK'

team12 = pd.read_html('https://www.basketball-reference.com/teams/NYK/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'NYK'

NYK_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
NYK_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,42,Eric Anderson,PF,6-9,220,"May 26, 1970",us,1,Indiana,1994/1995,NYK
1,50,Greg Anthony,PG,6-0,176,"November 15, 1967",us,2,"University of Portland, UNLV",1994/1995,NYK
2,20,Rolando Blackman,SG,6-6,190,"February 26, 1959",pa,12,Kansas State,1994/1995,NYK
3,4,Anthony Bonner,SF,6-8,215,"June 8, 1968",us,3,Saint Louis,1994/1995,NYK
4,9,Tony Campbell,SF,6-7,215,"May 7, 1962",us,9,Ohio State,1994/1995,NYK
...,...,...,...,...,...,...,...,...,...,...,...
190,31,DeWayne Scales,PF,6-8,208,"December 28, 1958",us,1,LSU,1982/1983,NYK
191,9,Randy Smith,SG,6-3,180,"December 12, 1948",us,10,Buffalo State,1982/1983,NYK
192,40,Marvin Webster,C,7-1,225,"April 13, 1952",us,6,Morgan State University,1982/1983,NYK
193,44,Paul Westphal,SG,6-4,195,"November 30, 1950",us,9,USC,1982/1983,NYK
194,33,Sly Williams,SF,6-7,210,"January 26, 1958",us,2,Rhode Island,1982/1983,NYK

In [41]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/SAS/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'SAS'

team1 = pd.read_html('https://www.basketball-reference.com/teams/SAS/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'SAS'

team2 = pd.read_html('https://www.basketball-reference.com/teams/SAS/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'SAS'

team3 = pd.read_html('https://www.basketball-reference.com/teams/SAS/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'SAS'

team4 = pd.read_html('https://www.basketball-reference.com/teams/SAS/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'SAS'

team5 = pd.read_html('https://www.basketball-reference.com/teams/SAS/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'SAS'

team6 = pd.read_html('https://www.basketball-reference.com/teams/SAS/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'SAS'

team7 = pd.read_html('https://www.basketball-reference.com/teams/SAS/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'SAS'

team8 = pd.read_html('https://www.basketball-reference.com/teams/SAS/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'SAS'

team9 = pd.read_html('https://www.basketball-reference.com/teams/SAS/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'SAS'

team10 = pd.read_html('https://www.basketball-reference.com/teams/SAS/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'SAS'

team11 = pd.read_html('https://www.basketball-reference.com/teams/SAS/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'SAS'

team12 = pd.read_html('https://www.basketball-reference.com/teams/SAS/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'SAS'

SAS_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
SAS_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,40,Willie Anderson,SG,6-7,190,"January 8, 1967",us,5,Georgia,1994/1995,SAS
1,35,Antoine Carr,PF,6-9,225,"July 23, 1961",us,9,Wichita State,1994/1995,SAS
2,34,Terry Cummings,PF,6-9,220,"March 15, 1961",us,11,DePaul,1994/1995,SAS
3,24,Lloyd Daniels,SG,6-7,205,"September 4, 1967",us,1,Mount San Antonio College,1994/1995,SAS
4,15,Vinny Del Negro,SG,6-4,185,"August 9, 1966",us,3,NC State,1994/1995,SAS
...,...,...,...,...,...,...,...,...,...,...,...
227,53,Mark Olberding,PF,6-8,225,"April 21, 1956",us,6,Minnesota,1982/1983,SAS
228,21,Roger Phegley,SG,6-6,205,"October 16, 1956",us,3,Bradley,1982/1983,SAS
229,15,Ed Rains,SF,6-7,190,"December 24, 1956",us,R,University of South Alabama,1982/1983,SAS
230,31,Kevin Restani,PF,6-9,225,"December 23, 1951",us,7,San Francisco,1982/1983,SAS
231,43,Rich Yonakor,PF,6-9,220,"October 3, 1958",us,R,UNC,1982/1983,SAS

In [43]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/ATL/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'ATL'

team1 = pd.read_html('https://www.basketball-reference.com/teams/ATL/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'ATL'

team2 = pd.read_html('https://www.basketball-reference.com/teams/ATL/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'ATL'

team3 = pd.read_html('https://www.basketball-reference.com/teams/ATL/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'ATL'

team4 = pd.read_html('https://www.basketball-reference.com/teams/ATL/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'ATL'

team5 = pd.read_html('https://www.basketball-reference.com/teams/ATL/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'ATL'

team6 = pd.read_html('https://www.basketball-reference.com/teams/ATL/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'ATL'

team7 = pd.read_html('https://www.basketball-reference.com/teams/ATL/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'ATL'

team8 = pd.read_html('https://www.basketball-reference.com/teams/ATL/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'ATL'

team9 = pd.read_html('https://www.basketball-reference.com/teams/ATL/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'ATL'

team10 = pd.read_html('https://www.basketball-reference.com/teams/ATL/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'ATL'

team11 = pd.read_html('https://www.basketball-reference.com/teams/ATL/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'ATL'

team12 = pd.read_html('https://www.basketball-reference.com/teams/ATL/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'ATL'

ATL_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
ATL_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,2,Stacey Augmon,SG,6-8,205,"August 1, 1968",us,2,UNLV,1994/1995,ATL
1,5,John Bagley,PG,6-0,185,"April 23, 1960",us,10,Boston College,1994/1995,ATL
2,10,Mookie Blaylock,PG,6-0,180,"March 20, 1967",us,4,"Midland College, Oklahoma",1994/1995,ATL
3,34,Doug Edwards,PF,6-7,220,"January 21, 1971",us,R,Florida State,1994/1995,ATL
4,3,Craig Ehlo,SG,6-6,180,"August 11, 1961",us,10,"Odessa College, Washington State",1994/1995,ATL
...,...,...,...,...,...,...,...,...,...,...,...
201,32,Dan Roundfield,PF,6-8,205,"May 26, 1953",us,6,Central Michigan University,1982/1983,ATL
202,11,Craig Shelton,SF,6-7,210,"May 1, 1957",us,1,Georgetown,1982/1983,ATL
203,2,Rory Sparrow,PG,6-2,175,"June 12, 1958",us,1,Villanova,1982/1983,ATL
204,20,Freeman Williams,SG,6-4,190,"May 15, 1956",us,3,Portland State,1982/1983,ATL
205,7,Al Wood,SG,6-6,193,"June 2, 1958",us,R,UNC,1982/1983,ATL

In [44]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/PHO/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'PHO'

team1 = pd.read_html('https://www.basketball-reference.com/teams/PHO/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'PHO'

team2 = pd.read_html('https://www.basketball-reference.com/teams/PHO/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'PHO'

team3 = pd.read_html('https://www.basketball-reference.com/teams/PHO/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'PHO'

team4 = pd.read_html('https://www.basketball-reference.com/teams/PHO/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'PHO'

team5 = pd.read_html('https://www.basketball-reference.com/teams/PHO/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'PHO'

team6 = pd.read_html('https://www.basketball-reference.com/teams/PHO/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'PHO'

team7 = pd.read_html('https://www.basketball-reference.com/teams/PHO/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'PHO'

team8 = pd.read_html('https://www.basketball-reference.com/teams/PHO/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'PHO'

team9 = pd.read_html('https://www.basketball-reference.com/teams/PHO/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'PHO'

team10 = pd.read_html('https://www.basketball-reference.com/teams/PHO/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'PHO'

team11 = pd.read_html('https://www.basketball-reference.com/teams/PHO/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'PHO'

team12 = pd.read_html('https://www.basketball-reference.com/teams/PHO/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'PHO'

PHO_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
PHO_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,22,Danny Ainge,SG,6-5,185,"March 17, 1959",us,12,BYU,1994/1995,PHO
1,34,Charles Barkley,PF,6-6,252,"February 20, 1963",us,9,Auburn,1994/1995,PHO
2,23,Cedric Ceballos,SF,6-7,220,"August 2, 1969",us,3,Cal State Fullerton,1994/1995,PHO
3,10,Duane Cooper,PG,6-1,185,"June 25, 1969",us,1,USC,1994/1995,PHO
4,40,Joe Courtney,PF,6-8,235,"October 17, 1969",us,1,"Mississippi State, Southern Miss",1994/1995,PHO
...,...,...,...,...,...,...,...,...,...,...,...
195,4,Kyle Macy,PG,6-3,175,"April 9, 1957",us,1,"Purdue, Kentucky",1982/1983,PHO
196,8,John McCullough,SG,6-4,190,"October 5, 1956",us,R,Oklahoma,1982/1983,PHO
197,22,Larry Nance,PF,6-10,205,"February 12, 1959",us,R,Clemson,1982/1983,PHO
198,21,Truck Robinson,PF,6-7,225,"October 4, 1951",us,7,Tennessee State,1982/1983,PHO
199,14,Alvin Scott,SF,6-7,185,"September 14, 1955",us,4,Oral Roberts,1982/1983,PHO

In [46]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/HOU/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'HOU'

team1 = pd.read_html('https://www.basketball-reference.com/teams/HOU/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'HOU'

team2 = pd.read_html('https://www.basketball-reference.com/teams/HOU/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'HOU'

team3 = pd.read_html('https://www.basketball-reference.com/teams/HOU/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'HOU'

team4 = pd.read_html('https://www.basketball-reference.com/teams/HOU/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'HOU'

team5 = pd.read_html('https://www.basketball-reference.com/teams/HOU/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'HOU'

team6 = pd.read_html('https://www.basketball-reference.com/teams/HOU/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'HOU'

team7 = pd.read_html('https://www.basketball-reference.com/teams/HOU/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'HOU'

team8 = pd.read_html('https://www.basketball-reference.com/teams/HOU/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'HOU'

team9 = pd.read_html('https://www.basketball-reference.com/teams/HOU/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'HOU'

team10 = pd.read_html('https://www.basketball-reference.com/teams/HOU/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'HOU'

team11 = pd.read_html('https://www.basketball-reference.com/teams/HOU/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'HOU'

team12 = pd.read_html('https://www.basketball-reference.com/teams/HOU/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'HOU'

HOU_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
HOU_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,1,Scott Brooks,PG,5-11,165,"July 31, 1965",us,5,"TCU, University of California, Irvine",1994/1995,HOU
1,50,Matt Bullard,PF,6-10,215,"June 5, 1967",us,3,"Colorado, Iowa",1994/1995,HOU
2,10,Sam Cassell,PG,6-3,185,"November 18, 1969",us,R,Florida State,1994/1995,HOU
3,35,Earl Cureton,PF,6-9,210,"September 3, 1957",us,10,"Robert Morris University (PA), Detroit Mercy",1994/1995,HOU
4,17,Mario Elie,SF,6-5,210,"November 26, 1963",us,3,American International College,1994/1995,HOU
...,...,...,...,...,...,...,...,...,...,...,...
182,51,Jawann Oldham,C,7-0,215,"July 4, 1957",us,1,Seattle University,1982/1983,HOU
183,5,Billy Paultz,C,6-11,235,"July 30, 1948",us,11,"Cameron University, St. John's",1982/1983,HOU
184,50,Robert Reid,SF,6-8,205,"August 30, 1955",us,4,St. Mary's University,1982/1983,HOU
185,35,Larry Spriggs,SF,6-7,230,"September 8, 1959",us,R,Howard University,1982/1983,HOU
186,32,Bill Willoughby,SF,6-8,205,"May 20, 1957",us,5,NaN,1982/1983,HOU

In [47]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/UTA/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'UTA'

team1 = pd.read_html('https://www.basketball-reference.com/teams/UTA/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'UTA'

team2 = pd.read_html('https://www.basketball-reference.com/teams/UTA/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'UTA'

team3 = pd.read_html('https://www.basketball-reference.com/teams/UTA/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'UTA'

team4 = pd.read_html('https://www.basketball-reference.com/teams/UTA/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'UTA'

team5 = pd.read_html('https://www.basketball-reference.com/teams/UTA/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'UTA'

team6 = pd.read_html('https://www.basketball-reference.com/teams/UTA/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'UTA'

team7 = pd.read_html('https://www.basketball-reference.com/teams/UTA/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'UTA'

team8 = pd.read_html('https://www.basketball-reference.com/teams/UTA/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'UTA'

team9 = pd.read_html('https://www.basketball-reference.com/teams/UTA/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'UTA'

team10 = pd.read_html('https://www.basketball-reference.com/teams/UTA/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'UTA'

team11 = pd.read_html('https://www.basketball-reference.com/teams/UTA/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'UTA'

team12 = pd.read_html('https://www.basketball-reference.com/teams/UTA/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'UTA'

UTA_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
UTA_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,21,David Benoit,SF,6-8,220,"May 9, 1968",us,2,Alabama,1994/1995,UTA
1,20,Walter Bond,SG,6-5,200,"February 1, 1969",us,1,Minnesota,1994/1995,UTA
2,42,Tom Chambers,PF,6-10,220,"June 21, 1959",us,12,Utah,1994/1995,UTA
3,23,Tyrone Corbin,SF,6-6,210,"December 31, 1962",us,8,DePaul,1994/1995,UTA
4,25,John Crotty,PG,6-1,185,"July 15, 1969",us,1,Virginia,1994/1995,UTA
...,...,...,...,...,...,...,...,...,...,...,...
183,52,Bill Robinzine,PF,6-7,230,"January 20, 1953",us,6,DePaul,1982/1983,UTA
184,24,Danny Schayes,C,6-11,235,"May 10, 1959",us,R,Syracuse,1982/1983,UTA
185,45,Jeff Wilkins,C,6-11,230,"March 9, 1955",us,1,Illinois State,1982/1983,UTA
186,33,Howard Wood,SF,6-7,235,"May 20, 1959",us,R,Tennessee,1982/1983,UTA
187,31,Sam Worthen,PG,6-5,195,"January 17, 1958",us,1,Marquette,1982/1983,UTA

In [49]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/CLE/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'CLE'

team1 = pd.read_html('https://www.basketball-reference.com/teams/CLE/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'CLE'

team2 = pd.read_html('https://www.basketball-reference.com/teams/CLE/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'CLE'

team3 = pd.read_html('https://www.basketball-reference.com/teams/CLE/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'CLE'

team4 = pd.read_html('https://www.basketball-reference.com/teams/CLE/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'CLE'

team5 = pd.read_html('https://www.basketball-reference.com/teams/CLE/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'CLE'

team6 = pd.read_html('https://www.basketball-reference.com/teams/CLE/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'CLE'

team7 = pd.read_html('https://www.basketball-reference.com/teams/CLE/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'CLE'

team8 = pd.read_html('https://www.basketball-reference.com/teams/CLE/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'CLE'

team9 = pd.read_html('https://www.basketball-reference.com/teams/CLE/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'CLE'

team10 = pd.read_html('https://www.basketball-reference.com/teams/CLE/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'CLE'

team11 = pd.read_html('https://www.basketball-reference.com/teams/CLE/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'CLE'

team12 = pd.read_html('https://www.basketball-reference.com/teams/CLE/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'CLE'

CLE_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
CLE_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,16,Gary Alexander,PF,6-7,240,"November 1, 1969",us,R,South Florida,1994/1995,CLE
1,10,John Battle,SG,6-2,175,"November 9, 1962",us,8,Rutgers University,1994/1995,CLE
2,11,Terrell Brandon,PG,5-11,180,"May 20, 1970",us,2,Oregon,1994/1995,CLE
3,43,Brad Daugherty,C,7-0,245,"October 19, 1965",us,7,UNC,1994/1995,CLE
4,35,Danny Ferry,PF,6-10,230,"October 17, 1966",us,3,Duke,1994/1995,CLE
...,...,...,...,...,...,...,...,...,...,...,...
209,11,Cliff Robinson,PF,6-9,220,"March 13, 1960",us,2,USC,1982/1983,CLE
210,13,James Silas,SG,6-1,180,"February 11, 1949",us,9,Stephen F. Austin,1982/1983,CLE
211,31,Richard Washington,PF,6-11,220,"July 15, 1955",us,5,UCLA,1982/1983,CLE
212,8,Scott Wedman,SF,6-7,215,"July 29, 1952",us,7,Colorado,1982/1983,CLE
213,33,Bob Wilkerson,SF,6-6,195,"August 15, 1954",us,5,Indiana,1982/1983,CLE

In [50]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/ORL/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'ORL'

team1 = pd.read_html('https://www.basketball-reference.com/teams/ORL/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'ORL'

team2 = pd.read_html('https://www.basketball-reference.com/teams/ORL/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'ORL'

team3 = pd.read_html('https://www.basketball-reference.com/teams/ORL/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'ORL'

team4 = pd.read_html('https://www.basketball-reference.com/teams/ORL/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'ORL'


ORL_df = pd.concat([team0, team1, team2, team3, team4], ignore_index=True)
ORL_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,25,Nick Anderson,SG,6-6,205,"January 20, 1968",us,4,Illinois,1994/1995,ORL
1,0,Anthony Avent,PF,6-9,235,"October 18, 1969",us,1,Seton Hall,1994/1995,ORL
2,14,Anthony Bowie,SG,6-6,190,"November 9, 1963",us,4,Oklahoma,1994/1995,ORL
3,0,Anthony Cook,PF,6-9,205,"March 19, 1967",us,2,Arizona,1994/1995,ORL
4,11,Litterial Green,PG,6-1,185,"March 7, 1970",us,1,Georgia,1994/1995,ORL
...,...,...,...,...,...,...,...,...,...,...,...
74,32,Otis Smith,SF,6-5,210,"January 30, 1964",us,3,Jacksonville University,1990/1991,ORL
75,24,Reggie Theus,SG,6-6,190,"October 13, 1957",us,11,UNLV,1990/1991,ORL
76,31,Jeff Turner,PF,6-9,230,"April 9, 1962",us,3,Vanderbilt,1990/1991,ORL
77,11,Sam Vincent,PG,6-2,185,"May 18, 1963",us,4,Michigan State,1990/1991,ORL
78,20,Morlon Wiley,PG,6-4,185,"September 24, 1966",us,1,Cal State Long Beach,1990/1991,ORL

In [52]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/IND/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'IND'

team1 = pd.read_html('https://www.basketball-reference.com/teams/IND/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'IND'

team2 = pd.read_html('https://www.basketball-reference.com/teams/IND/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'IND'

team3 = pd.read_html('https://www.basketball-reference.com/teams/IND/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'IND'

team4 = pd.read_html('https://www.basketball-reference.com/teams/IND/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'IND'

team5 = pd.read_html('https://www.basketball-reference.com/teams/IND/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'IND'

team6 = pd.read_html('https://www.basketball-reference.com/teams/IND/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'IND'

team7 = pd.read_html('https://www.basketball-reference.com/teams/IND/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'IND'

team8 = pd.read_html('https://www.basketball-reference.com/teams/IND/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'IND'

team9 = pd.read_html('https://www.basketball-reference.com/teams/IND/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'IND'

team10 = pd.read_html('https://www.basketball-reference.com/teams/IND/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'IND'

team11 = pd.read_html('https://www.basketball-reference.com/teams/IND/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'IND'

team12 = pd.read_html('https://www.basketball-reference.com/teams/IND/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'IND'

IND_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
IND_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,12,Lester Conner,PG,6-4,180,"September 17, 1959",us,10,Oregon State,1994/1995,IND
1,33,Antonio Davis,PF,6-9,215,"October 31, 1968",us,R,Texas-El Paso,1994/1995,IND
2,32,Dale Davis,PF,6-11,230,"March 25, 1969",us,2,Clemson,1994/1995,IND
3,10,Vern Fleming,PG,6-5,185,"February 4, 1962",us,9,Georgia,1994/1995,IND
4,43,Scott Haskin,C,6-11,250,"September 19, 1970",us,R,Oregon State,1994/1995,IND
...,...,...,...,...,...,...,...,...,...,...,...
180,55,Louis Orr,SF,6-8,175,"May 7, 1958",us,1,Syracuse,1982/1983,IND
181,26,Tom Owens,PF,6-10,215,"June 28, 1949",us,10,South Carolina,1982/1983,IND
182,14,Jerry Sichting,PG,6-1,168,"November 29, 1956",us,1,Purdue,1982/1983,IND
183,11,Raymond Townsend,SG,6-3,175,"December 20, 1955",us,2,UCLA,1982/1983,IND
184,32,Herb Williams,C,6-10,242,"February 16, 1958",us,R,Ohio State,1982/1983,IND

In [53]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/CHI/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'CHI'

team1 = pd.read_html('https://www.basketball-reference.com/teams/CHI/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'CHI'

team2 = pd.read_html('https://www.basketball-reference.com/teams/CHI/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'CHI'

team3 = pd.read_html('https://www.basketball-reference.com/teams/CHI/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'CHI'

team4 = pd.read_html('https://www.basketball-reference.com/teams/CHI/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'CHI'

team5 = pd.read_html('https://www.basketball-reference.com/teams/CHI/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'CHI'

team6 = pd.read_html('https://www.basketball-reference.com/teams/CHI/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'CHI'

team7 = pd.read_html('https://www.basketball-reference.com/teams/CHI/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'CHI'

team8 = pd.read_html('https://www.basketball-reference.com/teams/CHI/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'CHI'

team9 = pd.read_html('https://www.basketball-reference.com/teams/CHI/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'CHI'

team10 = pd.read_html('https://www.basketball-reference.com/teams/CHI/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'CHI'

team11 = pd.read_html('https://www.basketball-reference.com/teams/CHI/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'CHI'

team12 = pd.read_html('https://www.basketball-reference.com/teams/CHI/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'CHI'

CHI_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
CHI_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,10,B.J. Armstrong,PG,6-2,175,"September 9, 1967",us,4,Iowa,1994/1995,CHI
1,44,Corie Blount,PF,6-9,240,"January 4, 1969",us,R,Cincinnati,1994/1995,CHI
2,24,Bill Cartwright,C,7-1,245,"July 30, 1957",us,13,San Francisco,1994/1995,CHI
3,3,Jo Jo English,SG,6-4,195,"February 4, 1970",de,1,South Carolina,1994/1995,CHI
4,54,Horace Grant,PF,6-10,215,"July 4, 1965",us,6,Clemson,1994/1995,CHI
...,...,...,...,...,...,...,...,...,...,...,...
191,8,Jackie Robinson,SF,6-6,210,"May 20, 1955",us,2,UNLV,1982/1983,CHI
192,14,Ricky Sobers,SG,6-3,198,"January 15, 1953",us,6,UNLV,1982/1983,CHI
193,24,Reggie Theus,SG,6-6,190,"October 13, 1957",us,3,UNLV,1982/1983,CHI
194,32,James Wilkes,SF,6-7,195,"April 1, 1958",us,1,UCLA,1982/1983,CHI
195,0,Orlando Woolridge,SF,6-9,215,"December 16, 1959",us,R,Notre Dame,1982/1983,CHI

In [55]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/POR/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'POR'

team1 = pd.read_html('https://www.basketball-reference.com/teams/POR/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'POR'

team2 = pd.read_html('https://www.basketball-reference.com/teams/POR/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'POR'

team3 = pd.read_html('https://www.basketball-reference.com/teams/POR/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'POR'

team4 = pd.read_html('https://www.basketball-reference.com/teams/POR/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'POR'

team5 = pd.read_html('https://www.basketball-reference.com/teams/POR/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'POR'

team6 = pd.read_html('https://www.basketball-reference.com/teams/POR/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'POR'

team7 = pd.read_html('https://www.basketball-reference.com/teams/POR/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'POR'

team8 = pd.read_html('https://www.basketball-reference.com/teams/POR/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'POR'

team9 = pd.read_html('https://www.basketball-reference.com/teams/POR/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'POR'

team10 = pd.read_html('https://www.basketball-reference.com/teams/POR/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'POR'

team11 = pd.read_html('https://www.basketball-reference.com/teams/POR/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'POR'

team12 = pd.read_html('https://www.basketball-reference.com/teams/POR/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'POR'

POR_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
POR_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,2,Mark Bryant,C,6-9,245,"April 25, 1965",us,5,Seton Hall,1994/1995,POR
1,22,Clyde Drexler,SG,6-7,210,"June 22, 1962",us,10,Houston,1994/1995,POR
2,24,Chris Dudley,C,6-11,235,"February 22, 1965",us,6,Yale,1994/1995,POR
3,44,Harvey Grant,SF,6-8,195,"July 4, 1965",us,5,"Clemson, Oklahoma",1994/1995,POR
4,21,Jaren Jackson,SG,6-4,190,"October 27, 1967",us,3,Georgetown,1994/1995,POR
...,...,...,...,...,...,...,...,...,...,...,...
180,14,Kelvin Ransey,PG,6-1,170,"May 3, 1958",us,1,Ohio State,1982/1983,POR
181,43,Mychal Thompson,C,6-10,226,"January 30, 1955",bs,2,Minnesota,1982/1983,POR
182,10,Darnell Valentine,PG,6-1,183,"February 3, 1959",us,R,Kansas,1982/1983,POR
183,31,Pete Verhoeven,PF,6-9,215,"February 15, 1959",us,R,Fresno State,1982/1983,POR
184,42,Kermit Washington,PF,6-8,230,"September 17, 1951",us,8,American University,1982/1983,POR

In [56]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/MIA/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'MIA'

team1 = pd.read_html('https://www.basketball-reference.com/teams/MIA/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'MIA'

team2 = pd.read_html('https://www.basketball-reference.com/teams/MIA/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'MIA'

team3 = pd.read_html('https://www.basketball-reference.com/teams/MIA/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'MIA'

team4 = pd.read_html('https://www.basketball-reference.com/teams/MIA/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'MIA'

team5 = pd.read_html('https://www.basketball-reference.com/teams/MIA/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'MIA'


MIA_df = pd.concat([team0, team1, team2, team3, team4, team5], ignore_index=True)
MIA_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,35,Gary Alexander,PF,6-7,240,"November 1, 1969",us,R,South Florida,1994/1995,MIA
1,2,Keith Askins,SF,6-7,197,"December 15, 1967",us,3,Alabama,1994/1995,MIA
2,10,Manute Bol,C,7-7,200,"October 16, 1962",ss,8,University of Bridgeport,1994/1995,MIA
3,34,Willie Burton,SF,6-8,210,"May 26, 1968",us,3,Minnesota,1994/1995,MIA
4,12,Bimbo Coles,PG,6-1,180,"April 22, 1968",us,3,Virginia Tech,1994/1995,MIA
...,...,...,...,...,...,...,...,...,...,...,...
83,3,Anthony Taylor,PG,6-4,175,"November 30, 1965",us,R,Oregon,1989/1990,MIA
84,55,Billy Thompson,SF,6-7,195,"December 1, 1963",us,2,Louisville,1989/1990,MIA
85,10,Kelvin Upshaw,SG,6-2,180,"January 24, 1963",us,R,Utah,1989/1990,MIA
86,31,Pearl Washington,PG,6-2,190,"January 6, 1964",us,2,Syracuse,1989/1990,MIA
87,10,Clinton Wheeler,PG,6-1,185,"October 27, 1959",us,1,William Paterson University,1989/1990,MIA

In [58]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/NJN/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'NJN'

team1 = pd.read_html('https://www.basketball-reference.com/teams/NJN/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'NJN'

team2 = pd.read_html('https://www.basketball-reference.com/teams/NJN/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'NJN'

team3 = pd.read_html('https://www.basketball-reference.com/teams/NJN/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'NJN'

team4 = pd.read_html('https://www.basketball-reference.com/teams/NJN/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'NJN'

team5 = pd.read_html('https://www.basketball-reference.com/teams/NJN/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'NJN'

team6 = pd.read_html('https://www.basketball-reference.com/teams/NJN/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'NJN'

team7 = pd.read_html('https://www.basketball-reference.com/teams/NJN/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'NJN'

team8 = pd.read_html('https://www.basketball-reference.com/teams/NJN/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'NJN'

team9 = pd.read_html('https://www.basketball-reference.com/teams/NJN/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'NJN'

team10 = pd.read_html('https://www.basketball-reference.com/teams/NJN/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'NJN'

team11 = pd.read_html('https://www.basketball-reference.com/teams/NJN/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'NJN'

team12 = pd.read_html('https://www.basketball-reference.com/teams/NJN/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'NJN'

NJN_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
NJN_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,7.0,Kenny Anderson,PG,6-1,168,"October 9, 1970",us,2,Georgia Tech,1994/1995,NJN
1,22.0,Ron Anderson,SF,6-7,215,"October 15, 1958",us,9,Fresno State,1994/1995,NJN
2,0.0,Benoit Benjamin,C,7-0,250,"November 22, 1964",us,8,Creighton,1994/1995,NJN
3,42.0,P.J. Brown,C,6-11,225,"October 14, 1969",us,R,Louisiana Tech,1994/1995,NJN
4,44.0,Derrick Coleman,PF,6-10,230,"June 21, 1967",us,3,Syracuse,1994/1995,NJN
...,...,...,...,...,...,...,...,...,...,...,...
209,20.0,Jan van Breda Kolff,SF,6-7,195,"December 16, 1951",us,7,Vanderbilt,1982/1983,NJN
210,1.0,Foots Walker,PG,6-0,184,"May 21, 1951",us,7,"Vincennes University, West Georgia",1982/1983,NJN
211,52.0,Buck Williams,PF,6-8,215,"March 8, 1960",us,R,Maryland,1982/1983,NJN
212,13.0,Ray Williams,SG,6-3,188,"October 14, 1954",us,4,Minnesota,1982/1983,NJN
213,42.0,Mike Woodson,SG,6-5,195,"March 24, 1958",us,1,Indiana,1982/1983,NJN

In [59]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/GSW/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'GSW'

team1 = pd.read_html('https://www.basketball-reference.com/teams/GSW/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'GSW'

team2 = pd.read_html('https://www.basketball-reference.com/teams/GSW/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'GSW'

team3 = pd.read_html('https://www.basketball-reference.com/teams/GSW/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'GSW'

team4 = pd.read_html('https://www.basketball-reference.com/teams/GSW/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'GSW'

team5 = pd.read_html('https://www.basketball-reference.com/teams/GSW/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'GSW'

team6 = pd.read_html('https://www.basketball-reference.com/teams/GSW/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'GSW'

team7 = pd.read_html('https://www.basketball-reference.com/teams/GSW/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'GSW'

team8 = pd.read_html('https://www.basketball-reference.com/teams/GSW/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'GSW'

team9 = pd.read_html('https://www.basketball-reference.com/teams/GSW/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'GSW'

team10 = pd.read_html('https://www.basketball-reference.com/teams/GSW/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'GSW'

team11 = pd.read_html('https://www.basketball-reference.com/teams/GSW/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'GSW'

team12 = pd.read_html('https://www.basketball-reference.com/teams/GSW/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'GSW'

GSW_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
GSW_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,52,Victor Alexander,C,6-9,265,"August 31, 1969",us,2,Iowa State,1994/1995,GSW
1,35,Jud Buechler,SF,6-6,220,"June 19, 1968",us,3,Arizona,1994/1995,GSW
2,20,Dell Demps,PG,6-3,205,"February 12, 1970",us,R,University of the Pacific,1994/1995,GSW
3,25,Chris Gatling,C,6-10,220,"September 3, 1967",us,2,Old Dominion,1994/1995,GSW
4,11,Josh Grant,PF,6-9,223,"August 7, 1967",us,R,Utah,1994/1995,GSW
...,...,...,...,...,...,...,...,...,...,...,...
212,22,Sonny Parker,SF,6-6,200,"March 22, 1955",us,5,Texas A&M,1982/1983,GSW
213,18,Lorenzo Romar,PG,6-1,175,"November 13, 1958",us,1,Washington,1982/1983,GSW
214,45,Purvis Short,SF,6-7,210,"July 2, 1957",us,3,Jackson State University,1982/1983,GSW
215,13,Larry Smith,PF,6-8,215,"January 18, 1958",us,1,Alcorn State,1982/1983,GSW
216,33,Sam Williams,PF,6-8,210,"March 7, 1959",us,R,Arizona State,1982/1983,GSW

In [63]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/DEN/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'DEN'

team1 = pd.read_html('https://www.basketball-reference.com/teams/DEN/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'DEN'

team2 = pd.read_html('https://www.basketball-reference.com/teams/DEN/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'DEN'

team3 = pd.read_html('https://www.basketball-reference.com/teams/DEN/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'DEN'

team4 = pd.read_html('https://www.basketball-reference.com/teams/DEN/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'DEN'

team5 = pd.read_html('https://www.basketball-reference.com/teams/DEN/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'DEN'

team6 = pd.read_html('https://www.basketball-reference.com/teams/DEN/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'DEN'

team7 = pd.read_html('https://www.basketball-reference.com/teams/DEN/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'DEN'

team8 = pd.read_html('https://www.basketball-reference.com/teams/DEN/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'DEN'

team9 = pd.read_html('https://www.basketball-reference.com/teams/DEN/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'DEN'

team10 = pd.read_html('https://www.basketball-reference.com/teams/DEN/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'DEN'

team11 = pd.read_html('https://www.basketball-reference.com/teams/DEN/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'DEN'

team12 = pd.read_html('https://www.basketball-reference.com/teams/DEN/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'DEN'

DEN_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
DEN_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,3,Mahmoud Abdul-Rauf,PG,6-1,162,"March 9, 1969",us,3,LSU,1994/1995,DEN
1,43,Kevin Brooks,SF,6-6,200,"October 12, 1969",us,2,Louisiana,1994/1995,DEN
2,8,Bison Dele,C,6-9,235,"April 6, 1969",us,2,"Maryland, Arizona",1994/1995,DEN
3,20,LaPhonso Ellis,PF,6-8,240,"May 5, 1970",us,1,Notre Dame,1994/1995,DEN
4,22,Jim Farmer,SG,6-4,190,"September 23, 1964",us,4,Alabama,1994/1995,DEN
...,...,...,...,...,...,...,...,...,...,...,...
187,43,James Ray,PF,6-8,215,"July 27, 1957",us,1,Jacksonville University,1982/1983,DEN
188,25,Dave Robisch,C,6-10,235,"December 22, 1949",us,10,Kansas,1982/1983,DEN
189,10,John Roche,SG,6-3,170,"September 26, 1949",us,7,South Carolina,1982/1983,DEN
190,33,David Thompson,SG,6-4,195,"July 13, 1954",us,6,NC State,1982/1983,DEN
191,55,Kiki Vandeweghe,PF,6-8,220,"August 1, 1958",de,1,UCLA,1982/1983,DEN

In [64]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/CHH/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'CHH'

team1 = pd.read_html('https://www.basketball-reference.com/teams/CHH/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'CHH'

team2 = pd.read_html('https://www.basketball-reference.com/teams/CHH/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'CHH'

team3 = pd.read_html('https://www.basketball-reference.com/teams/CHH/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'CHH'

team4 = pd.read_html('https://www.basketball-reference.com/teams/CHH/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'CHH'

team5 = pd.read_html('https://www.basketball-reference.com/teams/CHH/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'CHH'


CHH_df = pd.concat([team0, team1, team2, team3, team4, team5], ignore_index=True)
CHH_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,25,Tony Bennett,PG,6-0,175,"June 1, 1969",us,1,Green Bay,1994/1995,CHH
1,1,Muggsy Bogues,PG,5-3,136,"January 9, 1965",us,6,Wake Forest,1994/1995,CHH
2,40,Frank Brickowski,C,6-9,240,"August 14, 1959",us,9,Penn State,1994/1995,CHH
3,24,Scott Burrell,SF,6-7,218,"January 12, 1971",us,R,UConn,1994/1995,CHH
4,7,Marty Conlon,C,6-10,224,"January 19, 1968",us,2,Providence,1994/1995,CHH
...,...,...,...,...,...,...,...,...,...,...,...
100,31,Kurt Rambis,PF,6-8,213,"February 25, 1958",us,7,Santa Clara,1989/1990,CHH
101,50,Robert Reid,SF,6-8,205,"August 30, 1955",us,10,St. Mary's University,1989/1990,CHH
102,32,Brian Rowsom,PF,6-9,220,"October 23, 1965",us,1,UNC Wilmington,1989/1990,CHH
103,23,Tom Tolbert,SF,6-7,235,"October 16, 1965",us,R,"University of California, Irvine, Arizona",1989/1990,CHH
104,7,Kelly Tripucka,SF,6-6,220,"February 16, 1959",us,7,Notre Dame,1989/1990,CHH

In [65]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/LAL/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'LAL'

team1 = pd.read_html('https://www.basketball-reference.com/teams/LAL/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'LAL'

team2 = pd.read_html('https://www.basketball-reference.com/teams/LAL/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'LAL'

team3 = pd.read_html('https://www.basketball-reference.com/teams/LAL/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'LAL'

team4 = pd.read_html('https://www.basketball-reference.com/teams/LAL/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'LAL'

team5 = pd.read_html('https://www.basketball-reference.com/teams/LAL/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'LAL'

team6 = pd.read_html('https://www.basketball-reference.com/teams/LAL/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'LAL'

team7 = pd.read_html('https://www.basketball-reference.com/teams/LAL/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'LAL'

team8 = pd.read_html('https://www.basketball-reference.com/teams/LAL/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'LAL'

team9 = pd.read_html('https://www.basketball-reference.com/teams/LAL/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'LAL'

team10 = pd.read_html('https://www.basketball-reference.com/teams/LAL/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'LAL'

team11 = pd.read_html('https://www.basketball-reference.com/teams/LAL/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'LAL'

team12 = pd.read_html('https://www.basketball-reference.com/teams/LAL/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'LAL'

LAL_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
LAL_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,31,Sam Bowie,C,7-1,235,"March 17, 1961",us,8,Kentucky,1994/1995,LAL
1,41,Elden Campbell,PF,6-11,215,"July 23, 1968",us,3,Clemson,1994/1995,LAL
2,8,Doug Christie,SG,6-6,200,"May 9, 1970",us,1,Pepperdine,1994/1995,LAL
3,12,Vlade Divac,C,7-1,243,"February 3, 1968",rs,4,NaN,1994/1995,LAL
4,53,James Edwards,C,7-0,225,"November 22, 1955",us,16,Washington,1994/1995,LAL
...,...,...,...,...,...,...,...,...,...,...,...
181,40,Mike McGee,SF,6-5,190,"July 29, 1959",us,R,Michigan,1982/1983,LAL
182,30,Kevin McKenna,SG,6-5,195,"January 8, 1959",us,R,Creighton,1982/1983,LAL
183,10,Norm Nixon,PG,6-2,170,"October 11, 1955",us,4,Duquesne,1982/1983,LAL
184,31,Kurt Rambis,PF,6-8,213,"February 25, 1958",us,R,Santa Clara,1982/1983,LAL
185,52,Jamaal Wilkes,SF,6-6,190,"May 2, 1953",us,7,UCLA,1982/1983,LAL

In [67]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/BOS/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'BOS'

team1 = pd.read_html('https://www.basketball-reference.com/teams/BOS/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'BOS'

team2 = pd.read_html('https://www.basketball-reference.com/teams/BOS/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'BOS'

team3 = pd.read_html('https://www.basketball-reference.com/teams/BOS/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'BOS'

team4 = pd.read_html('https://www.basketball-reference.com/teams/BOS/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'BOS'

team5 = pd.read_html('https://www.basketball-reference.com/teams/BOS/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'BOS'

team6 = pd.read_html('https://www.basketball-reference.com/teams/BOS/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'BOS'

team7 = pd.read_html('https://www.basketball-reference.com/teams/BOS/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'BOS'

team8 = pd.read_html('https://www.basketball-reference.com/teams/BOS/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'BOS'

team9 = pd.read_html('https://www.basketball-reference.com/teams/BOS/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'BOS'

team10 = pd.read_html('https://www.basketball-reference.com/teams/BOS/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'BOS'

team11 = pd.read_html('https://www.basketball-reference.com/teams/BOS/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'BOS'

team12 = pd.read_html('https://www.basketball-reference.com/teams/BOS/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'BOS'

BOS_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
BOS_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,4,Alaa Abdelnaby,PF,6-10,240,"June 24, 1968",eg,3,Duke,1994/1995,BOS
1,7,Dee Brown,SG,6-1,160,"November 29, 1968",us,3,Jacksonville University,1994/1995,BOS
2,12,Chris Corchiani,PG,6-0,185,"March 28, 1968",us,2,NC State,1994/1995,BOS
3,20,Sherman Douglas,PG,6-0,180,"September 15, 1966",us,4,Syracuse,1994/1995,BOS
4,55,Acie Earl,C,6-10,240,"June 23, 1970",us,R,Iowa,1994/1995,BOS
...,...,...,...,...,...,...,...,...,...,...,...
187,11,Tracy Jackson,SG,6-6,205,"April 21, 1959",us,R,Notre Dame,1982/1983,BOS
188,31,Cedric Maxwell,SF,6-8,205,"November 21, 1955",us,4,UNC Charlotte,1982/1983,BOS
189,32,Kevin McHale,PF,6-10,210,"December 19, 1957",us,1,Minnesota,1982/1983,BOS
190,0,Robert Parish,C,7-1,230,"August 30, 1953",us,5,Centenary (LA),1982/1983,BOS
191,53,Rick Robey,C,6-11,230,"January 30, 1956",us,3,Kentucky,1982/1983,BOS

In [80]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/LAC/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'LAC'

team1 = pd.read_html('https://www.basketball-reference.com/teams/LAC/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'LAC'

team2 = pd.read_html('https://www.basketball-reference.com/teams/LAC/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'LAC'

team3 = pd.read_html('https://www.basketball-reference.com/teams/LAC/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'LAC'

team4 = pd.read_html('https://www.basketball-reference.com/teams/LAC/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'LAC'

team5 = pd.read_html('https://www.basketball-reference.com/teams/LAC/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'LAC'

team6 = pd.read_html('https://www.basketball-reference.com/teams/LAC/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'LAC'

team7 = pd.read_html('https://www.basketball-reference.com/teams/LAC/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'LAC'

team8 = pd.read_html('https://www.basketball-reference.com/teams/LAC/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'LAC'

team9 = pd.read_html('https://www.basketball-reference.com/teams/LAC/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'LAC'

LAC_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9], ignore_index=True)
LAC_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,7,Mark Aguirre,SF,6-6,232,"December 10, 1959",us,12,DePaul,1994/1995,LAC
1,24,Terry Dehere,PG,6-2,190,"September 12, 1971",us,R,Seton Hall,1994/1995,LAC
2,30,Harold Ellis,SF,6-5,200,"October 7, 1970",us,R,Morehouse College,1994/1995,LAC
3,23,Gary Grant,PG,6-3,185,"April 21, 1965",us,5,Michigan,1994/1995,LAC
4,4,Ron Harper,SG,6-6,185,"January 20, 1964",us,7,Miami University,1994/1995,LAC
...,...,...,...,...,...,...,...,...,...,...,...
170,18,Derek Smith,SG,6-6,205,"November 1, 1961",us,2,Louisville,1985/1986,LAC
171,32,Bill Walton,C,6-11,210,"November 5, 1952",us,7,UCLA,1985/1986,LAC
172,13,Bryan Warrick,PG,6-5,195,"July 22, 1959",us,2,Saint Joseph's,1985/1986,LAC
173,22,Rory White,PF,6-8,210,"August 16, 1959",us,2,University of South Alabama,1985/1986,LAC
174,38,Dale Wilkinson,SF,6-10,220,"March 18, 1960",us,R,Idaho State University,1985/1986,LAC

In [82]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/SAC/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'SAC'

team1 = pd.read_html('https://www.basketball-reference.com/teams/SAC/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'SAC'

team2 = pd.read_html('https://www.basketball-reference.com/teams/SAC/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'SAC'

team3 = pd.read_html('https://www.basketball-reference.com/teams/SAC/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'SAC'

team4 = pd.read_html('https://www.basketball-reference.com/teams/SAC/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'SAC'

team5 = pd.read_html('https://www.basketball-reference.com/teams/SAC/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'SAC'

team6 = pd.read_html('https://www.basketball-reference.com/teams/SAC/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'SAC'

team7 = pd.read_html('https://www.basketball-reference.com/teams/SAC/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'SAC'

team8 = pd.read_html('https://www.basketball-reference.com/teams/SAC/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'SAC'

SAC_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8], ignore_index=True)
SAC_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,45,Randy Breuer,C,7-3,230,"October 11, 1960",us,10,Minnesota,1994/1995,SAC
1,3,Randy Brown,PG,6-2,190,"May 22, 1968",us,2,"Houston, New Mexico State",1994/1995,SAC
2,53,Evers Burns,PF,6-8,260,"August 24, 1971",us,R,Maryland,1994/1995,SAC
3,31,Duane Causwell,C,7-0,240,"May 31, 1968",us,3,Temple,1994/1995,SAC
4,32,Pete Chilcutt,PF,6-10,230,"September 14, 1968",us,2,UNC,1994/1995,SAC
...,...,...,...,...,...,...,...,...,...,...,...
140,24,Reggie Theus,SG,6-6,190,"October 13, 1957",us,7,UNLV,1986/1997,SAC
141,41,LaSalle Thompson,C,6-10,245,"June 23, 1961",us,3,Texas,1986/1997,SAC
142,33,Otis Thorpe,PF,6-10,248,"August 5, 1962",us,1,Providence,1986/1997,SAC
143,40,Terry Tyler,SF,6-7,215,"October 30, 1956",us,7,Detroit Mercy,1986/1997,SAC
144,42,Mike Woodson,SG,6-5,195,"March 24, 1958",us,5,Indiana,1986/1997,SAC

In [84]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/MIL/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'MIL'

team1 = pd.read_html('https://www.basketball-reference.com/teams/MIL/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'MIL'

team2 = pd.read_html('https://www.basketball-reference.com/teams/MIL/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'MIL'

team3 = pd.read_html('https://www.basketball-reference.com/teams/MIL/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'MIL'

team4 = pd.read_html('https://www.basketball-reference.com/teams/MIL/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'MIL'

team5 = pd.read_html('https://www.basketball-reference.com/teams/MIL/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'MIL'

team6 = pd.read_html('https://www.basketball-reference.com/teams/MIL/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'MIL'

team7 = pd.read_html('https://www.basketball-reference.com/teams/MIL/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'MIL'

team8 = pd.read_html('https://www.basketball-reference.com/teams/MIL/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'MIL'

team9 = pd.read_html('https://www.basketball-reference.com/teams/MIL/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'MIL'

team10 = pd.read_html('https://www.basketball-reference.com/teams/MIL/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'MIL'

team11 = pd.read_html('https://www.basketball-reference.com/teams/MIL/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'MIL'

team12 = pd.read_html('https://www.basketball-reference.com/teams/MIL/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'MIL'

MIL_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
MIL_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,0,Anthony Avent,PF,6-9,235,"October 18, 1969",us,1,Seton Hall,1994/1995,MIL
1,42,Vin Baker,C,6-11,232,"November 23, 1971",us,R,University of Hartford,1994/1995,MIL
2,17,Jon Barry,SG,6-4,195,"July 25, 1969",us,1,"University of the Pacific, Georgia Tech",1994/1995,MIL
3,40,Frank Brickowski,C,6-9,240,"August 14, 1959",us,9,Penn State,1994/1995,MIL
4,0,Anthony Cook,PF,6-9,205,"March 19, 1967",us,2,Arizona,1994/1995,MIL
...,...,...,...,...,...,...,...,...,...,...,...
221,7,Scott May,SF,6-7,215,"March 19, 1954",us,5,Indiana,1982/1983,MIL
222,4,Sidney Moncrief,SG,6-4,180,"September 21, 1957",us,2,Arkansas,1982/1983,MIL
223,5,Robert Smith,PG,5-11,165,"March 10, 1955",us,4,UNLV,1982/1983,MIL
224,20,Kevin Stacom,SG,6-3,185,"September 4, 1951",us,5,"Holy Cross, Providence",1982/1983,MIL
225,32,Brian Winters,SG,6-4,185,"March 1, 1952",us,7,South Carolina,1982/1983,MIL

In [85]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/MIN/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'MIN'

team1 = pd.read_html('https://www.basketball-reference.com/teams/MIN/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'MIN'

team2 = pd.read_html('https://www.basketball-reference.com/teams/MIN/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'MIN'

team3 = pd.read_html('https://www.basketball-reference.com/teams/MIN/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'MIN'

team4 = pd.read_html('https://www.basketball-reference.com/teams/MIN/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'MIN'


MIN_df = pd.concat([team0, team1, team2, team3, team4], ignore_index=True)
MIN_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,41,Thurl Bailey,PF,6-11,215,"April 7, 1961",us,10,NC State,1994/1995,MIN
1,40,Mike Brown,C,6-9,257,"July 19, 1963",us,7,George Washington,1994/1995,MIN
2,23,Brian Davis,SF,6-7,200,"June 21, 1970",us,R,Duke,1994/1995,MIN
3,30,Tellis Frank,PF,6-10,225,"April 26, 1965",us,4,Western Kentucky,1994/1995,MIN
4,51,Andrés Guibert,C,6-10,225,"October 28, 1968",cu,R,NaN,1994/1995,MIN
...,...,...,...,...,...,...,...,...,...,...,...
71,24,Pooh Richardson,PG,6-1,180,"May 14, 1966",us,R,UCLA,1990/1991,MIN
72,3,Scott Roth,SF,6-8,212,"June 3, 1963",us,2,Wisconsin,1990/1991,MIN
73,15,Donald Royal,SF,6-8,210,"May 22, 1966",us,R,Notre Dame,1990/1991,MIN
74,2,Brad Sellers,PF,7-0,210,"December 17, 1962",us,3,"Wisconsin, Ohio State",1990/1991,MIN
75,5,Doug West,SG,6-6,200,"May 27, 1967",us,R,Villanova,1990/1991,MIN

In [86]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/WSB/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'WSB'

team1 = pd.read_html('https://www.basketball-reference.com/teams/WSB/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'WSB'

team2 = pd.read_html('https://www.basketball-reference.com/teams/WSB/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'WSB'

team3 = pd.read_html('https://www.basketball-reference.com/teams/WSB/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'WSB'

team4 = pd.read_html('https://www.basketball-reference.com/teams/WSB/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'WSB'

team5 = pd.read_html('https://www.basketball-reference.com/teams/WSB/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'WSB'

team6 = pd.read_html('https://www.basketball-reference.com/teams/WSB/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'WSB'

team7 = pd.read_html('https://www.basketball-reference.com/teams/WSB/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'WSB'

team8 = pd.read_html('https://www.basketball-reference.com/teams/WSB/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'WSB'

team9 = pd.read_html('https://www.basketball-reference.com/teams/WSB/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'WSB'

team10 = pd.read_html('https://www.basketball-reference.com/teams/WSB/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'WSB'

team11 = pd.read_html('https://www.basketball-reference.com/teams/WSB/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'WSB'

team12 = pd.read_html('https://www.basketball-reference.com/teams/WSB/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'WSB'

WSB_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
WSB_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,10,Michael Adams,PG,5-10,162,"January 19, 1963",us,8,Boston College,1994/1995,WSB
1,35,Ron Anderson,SF,6-7,215,"October 15, 1958",us,9,Fresno State,1994/1995,WSB
2,4,Manute Bol,C,7-7,200,"October 16, 1962",ss,8,University of Bridgeport,1994/1995,WSB
3,32,Mitchell Butler,SG,6-5,210,"December 15, 1970",us,R,UCLA,1994/1995,WSB
4,3,Rex Chapman,SG,6-4,185,"October 5, 1967",us,5,Kentucky,1994/1995,WSB
...,...,...,...,...,...,...,...,...,...,...,...
199,5,John Lucas,PG,6-3,175,"October 31, 1953",us,5,Maryland,1982/1983,WSB
200,44,Rick Mahorn,PF,6-10,240,"September 21, 1958",us,1,Hampton,1982/1983,WSB
201,43,Jeff Ruland,C,6-10,240,"December 16, 1958",us,R,Iona College,1982/1983,WSB
202,12,Carlos Terry,SG,6-5,210,"June 22, 1956",us,1,Winston-Salem State,1982/1983,WSB
203,20,Garry Witts,SF,6-7,190,"July 3, 1959",us,R,Holy Cross,1982/1983,WSB

In [87]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/PHI/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'PHI'

team1 = pd.read_html('https://www.basketball-reference.com/teams/PHI/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'PHI'

team2 = pd.read_html('https://www.basketball-reference.com/teams/PHI/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'PHI'

team3 = pd.read_html('https://www.basketball-reference.com/teams/PHI/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'PHI'

team4 = pd.read_html('https://www.basketball-reference.com/teams/PHI/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'PHI'

team5 = pd.read_html('https://www.basketball-reference.com/teams/PHI/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'PHI'

team6 = pd.read_html('https://www.basketball-reference.com/teams/PHI/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'PHI'

team7 = pd.read_html('https://www.basketball-reference.com/teams/PHI/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'PHI'

team8 = pd.read_html('https://www.basketball-reference.com/teams/PHI/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'PHI'

team9 = pd.read_html('https://www.basketball-reference.com/teams/PHI/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'PHI'

team10 = pd.read_html('https://www.basketball-reference.com/teams/PHI/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'PHI'

team11 = pd.read_html('https://www.basketball-reference.com/teams/PHI/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'PHI'

team12 = pd.read_html('https://www.basketball-reference.com/teams/PHI/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'PHI'

PHI_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
PHI_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,50,Isaac Austin,C,6-10,255,"August 18, 1969",us,2,Arizona State,1994/1995,PHI
1,3,Dana Barros,PG,5-11,163,"April 13, 1967",us,4,Boston College,1994/1995,PHI
2,11,Manute Bol,C,7-7,200,"October 16, 1962",ss,8,University of Bridgeport,1994/1995,PHI
3,76,Shawn Bradley,C,7-6,235,"March 22, 1972",de,R,BYU,1994/1995,PHI
4,20,Michael Curry,SG,6-5,210,"August 22, 1968",us,R,Georgia Southern University,1994/1995,PHI
...,...,...,...,...,...,...,...,...,...,...,...
200,24,Bobby Jones,PF,6-9,210,"December 18, 1951",us,7,UNC,1982/1983,PHI
201,11,Caldwell Jones,C,6-11,217,"August 4, 1950",us,8,Albany State University,1982/1983,PHI
202,23,Steve Mix,SF,6-7,215,"December 30, 1947",us,11,Toledo,1982/1983,PHI
203,4,Clint Richardson,SG,6-3,195,"August 7, 1956",us,2,Seattle University,1982/1983,PHI
204,22,Andrew Toney,SG,6-3,178,"November 23, 1957",us,1,Louisiana,1982/1983,PHI

In [89]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/DET/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'DET'

team1 = pd.read_html('https://www.basketball-reference.com/teams/DET/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'DET'

team2 = pd.read_html('https://www.basketball-reference.com/teams/DET/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'DET'

team3 = pd.read_html('https://www.basketball-reference.com/teams/DET/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'DET'

team4 = pd.read_html('https://www.basketball-reference.com/teams/DET/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'DET'

team5 = pd.read_html('https://www.basketball-reference.com/teams/DET/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'DET'

team6 = pd.read_html('https://www.basketball-reference.com/teams/DET/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'DET'

team7 = pd.read_html('https://www.basketball-reference.com/teams/DET/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'DET'

team8 = pd.read_html('https://www.basketball-reference.com/teams/DET/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'DET'

team9 = pd.read_html('https://www.basketball-reference.com/teams/DET/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'DET'

team10 = pd.read_html('https://www.basketball-reference.com/teams/DET/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'DET'

team11 = pd.read_html('https://www.basketball-reference.com/teams/DET/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'DET'

team12 = pd.read_html('https://www.basketball-reference.com/teams/DET/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'DET'

DET_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
DET_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,33,Greg Anderson,PF,6-10,230,"June 22, 1964",us,5,Houston,1994/1995,DET
1,34,Pete Chilcutt,PF,6-10,230,"September 14, 1968",us,2,UNC,1994/1995,DET
2,51,Ben Coleman,PF,6-9,235,"November 14, 1961",us,4,"Minnesota, Maryland",1994/1995,DET
3,4,Joe Dumars,SG,6-3,190,"May 24, 1963",us,8,McNeese State University,1994/1995,DET
4,32,Sean Elliott,SF,6-8,205,"February 2, 1968",us,4,Arizona,1994/1995,DET
...,...,...,...,...,...,...,...,...,...,...,...
199,44,Paul Mokeski,C,7-0,250,"January 3, 1957",us,2,Kansas,1982/1983,DET
200,11,Isiah Thomas,PG,6-1,180,"April 30, 1961",us,R,Indiana,1982/1983,DET
201,7,Kelly Tripucka,SF,6-6,220,"February 16, 1959",us,R,Notre Dame,1982/1983,DET
202,41,Terry Tyler,PF,6-7,215,"October 30, 1956",us,3,Detroit Mercy,1982/1983,DET
203,15,Larry Wright,PG,6-1,160,"November 23, 1954",us,5,Grambling State University,1982/1983,DET

In [90]:
team0 = pd.read_html('https://www.basketball-reference.com/teams/DAL/1994.html')
team0 = team0[0]
team0['season'] = '1994/1995'
team0['team'] = 'DAL'

team1 = pd.read_html('https://www.basketball-reference.com/teams/DAL/1993.html')
team1 = team1[0]
team1['season'] = '1993/1994'
team1['team'] = 'DAL'

team2 = pd.read_html('https://www.basketball-reference.com/teams/DAL/1992.html')
team2 = team2[0]
team2['season'] = '1992/1993'
team2['team'] = 'DAL'

team3 = pd.read_html('https://www.basketball-reference.com/teams/DAL/1991.html')
team3 = team3[0]
team3['season'] = '1991/1992'
team3['team'] = 'DAL'

team4 = pd.read_html('https://www.basketball-reference.com/teams/DAL/1990.html')
team4 = team4[0]
team4['season'] = '1990/1991'
team4['team'] = 'DAL'

team5 = pd.read_html('https://www.basketball-reference.com/teams/DAL/1989.html')
team5 = team5[0]
team5['season'] = '1989/1990'
team5['team'] = 'DAL'

team6 = pd.read_html('https://www.basketball-reference.com/teams/DAL/1988.html')
team6 = team6[0]
team6['season'] = '1988/1989'
team6['team'] = 'DAL'

team7 = pd.read_html('https://www.basketball-reference.com/teams/DAL/1987.html')
team7 = team7[0]
team7['season'] = '1987/1988'
team7['team'] = 'DAL'

team8 = pd.read_html('https://www.basketball-reference.com/teams/DAL/1986.html')
team8 = team8[0]
team8['season'] = '1986/1997'
team8['team'] = 'DAL'

team9 = pd.read_html('https://www.basketball-reference.com/teams/DAL/1985.html')
team9 = team9[0]
team9['season'] = '1985/1986'
team9['team'] = 'DAL'

team10 = pd.read_html('https://www.basketball-reference.com/teams/DAL/1984.html')
team10 = team10[0]
team10['season'] = '1984/1985'
team10['team'] = 'DAL'

team11 = pd.read_html('https://www.basketball-reference.com/teams/DAL/1983.html')
team11 = team11[0]
team11['season'] = '1983/1984'
team11['team'] = 'DAL'

team12 = pd.read_html('https://www.basketball-reference.com/teams/DAL/1982.html')
team12 = team12[0]
team12['season'] = '1982/1983'
team12['team'] = 'DAL'

DAL_df = pd.concat([team0, team1, team2, team3, team4, team5, team6, team7, team8, team9, team10, team11, team12], ignore_index=True)
DAL_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,6,Chucky Brown,SF,6-7,214,"February 29, 1968",us,4,NC State,1994/1995,DAL
1,19,Tony Campbell,SF,6-7,215,"May 7, 1962",us,9,Ohio State,1994/1995,DAL
2,43,Terry Davis,PF,6-9,225,"June 17, 1967",us,4,Virginia Union University,1994/1995,DAL
3,40,Greg Dreiling,C,7-1,250,"November 7, 1962",us,7,"Wichita State, Kansas",1994/1995,DAL
4,12,Derek Harper,PG,6-4,185,"October 13, 1961",us,10,Illinois,1994/1995,DAL
...,...,...,...,...,...,...,...,...,...,...,...
184,17,Ollie Mack,SG,6-3,185,"June 6, 1957",us,2,East Carolina University,1982/1983,DAL
185,40,Kurt Nimphius,C,6-10,218,"March 13, 1958",us,R,Arizona State,1982/1983,DAL
186,34,Jim Spanarkel,SG,6-5,190,"June 28, 1957",us,2,Duke,1982/1983,DAL
187,33,Elston Turner,SF,6-5,190,"June 10, 1959",us,R,Ole Miss,1982/1983,DAL
188,31,Jay Vincent,PF,6-7,220,"June 10, 1959",us,R,Michigan State,1982/1983,DAL

In [91]:
# Now I can concat all the dataframes for all teams with all their years into 1 dataframe

r_df = pd.concat([SEA_df, NYK_df, SAS_df, ATL_df, PHO_df, HOU_df, UTA_df, CLE_df, ORL_df, IND_df, CHI_df, POR_df, MIA_df, NJN_df, GSW_df, DEN_df, CHH_df, LAL_df, BOS_df, LAC_df, SAC_df, MIL_df, MIN_df, WSB_df, PHI_df, DET_df, DAL_df], ignore_index=True)
r_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,17,Vincent Askew,SG,6-6,210,"February 28, 1966",us,4,Memphis,1994/1995,SEA
1,44,Michael Cage,C,6-9,224,"January 28, 1962",us,9,San Diego State,1994/1995,SEA
2,3,Alphonso Ford,PG,6-1,190,"October 31, 1971",us,R,Mississippi Valley State University,1994/1995,SEA
3,13,Kendall Gill,SG,6-5,195,"May 25, 1968",us,3,Illinois,1994/1995,SEA
4,50,Ervin Johnson,C,6-11,245,"December 21, 1967",us,R,New Orleans,1994/1995,SEA
...,...,...,...,...,...,...,...,...,...,...,...
4869,17,Ollie Mack,SG,6-3,185,"June 6, 1957",us,2,East Carolina University,1982/1983,DAL
4870,40,Kurt Nimphius,C,6-10,218,"March 13, 1958",us,R,Arizona State,1982/1983,DAL
4871,34,Jim Spanarkel,SG,6-5,190,"June 28, 1957",us,2,Duke,1982/1983,DAL
4872,33,Elston Turner,SF,6-5,190,"June 10, 1959",us,R,Ole Miss,1982/1983,DAL
4873,31,Jay Vincent,PF,6-7,220,"June 10, 1959",us,R,Michigan State,1982/1983,DAL

In [92]:
avg_df = avg_df.drop(columns=['Rk']) # Dropping the "Rk column as its coexisting with our index column"

In [93]:
avg_df = avg_df.reset_index(drop=True)
avg_df

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,season
0,Alaa Abdelnaby,PF,25,BOS,13,0,12.2,1.8,4.2,.436,0.0,0.0,NaN,1.8,4.2,.436,.436,1.2,1.9,.640,0.9,2.6,3.5,0.2,0.2,0.2,1.3,1.5,4.9,1994/1995
1,Mahmoud Abdul-Rauf,PG,24,DEN,80,78,32.7,7.4,16.0,.460,0.5,1.7,.316,6.8,14.3,.476,.476,2.7,2.9,.956,0.3,1.8,2.1,4.5,1.0,0.1,1.9,1.9,18.0,1994/1995
2,Michael Adams,PG,31,WSB,70,67,33.4,4.1,10.0,.408,0.8,2.7,.288,3.3,7.2,.454,.448,3.2,3.9,.830,0.5,2.1,2.6,6.9,1.4,0.1,2.4,2.0,12.1,1994/1995
3,Mark Aguirre,SF,34,LAC,39,0,22.0,4.2,8.9,.468,0.9,2.4,.398,3.2,6.5,.494,.522,1.3,1.8,.694,0.7,2.3,3.0,2.7,0.5,0.2,1.8,2.5,10.6,1994/1995
4,Danny Ainge,SG,34,PHO,68,1,22.9,3.3,7.9,.417,1.2,3.6,.328,2.1,4.3,.491,.492,1.1,1.4,.830,0.4,1.5,1.9,2.6,0.8,0.1,1.2,2.1,8.9,1994/1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5594,Mike Woodson,SG,23,KCK,76,74,28.8,6.7,13.2,.507,0.1,0.3,.292,6.6,12.9,.513,.511,2.6,3.3,.780,1.3,1.8,3.1,2.7,1.8,0.4,1.9,2.6,16.1,1982/1983
5595,Orlando Woolridge,SF,22,CHI,75,12,15.8,2.7,5.3,.513,0.0,0.0,.000,2.7,5.2,.517,.513,1.9,2.7,.699,1.1,1.9,3.0,1.1,0.3,0.3,1.4,2.0,7.3,1982/1983
5596,Sam Worthen,PG,24,UTA,5,0,4.4,0.4,1.0,.400,0.0,0.0,NaN,0.4,1.0,.400,.400,0.0,0.0,NaN,0.2,0.0,0.2,0.6,0.0,0.0,0.4,0.6,0.8,1982/1983
5597,Larry Wright,PG,27,DET,1,0,6.0,0.0,1.0,.000,0.0,0.0,NaN,0.0,1.0,.000,.000,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1982/1983
5598,Rich Yonakor,PF,23,SAS,10,0,7.0,1.4,2.6,.538,0.0,0.0,NaN,1.4,2.6,.538,.538,0.5,0.7,.714,1.3,1.4,2.7,0.3,0.1,0.2,0.2,0.7,3.3,1982/1983

In [94]:
adv_df = adv_df.drop(columns=['Rk'])

In [95]:
adv_df = adv_df.reset_index(drop=True)
adv_df

,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP,season
0,Alaa Abdelnaby,PF,25,BOS,13,159,9.2,.485,.000,.455,8.5,24.2,16.3,2.7,0.6,1.2,20.5,22.6,NaN,-0.2,0.1,-0.1,-0.032,NaN,-5.3,-2.2,-7.4,-0.2,1994/1995
1,Mahmoud Abdul-Rauf,PG,24,DEN,80,2617,16.7,.521,.104,.179,1.2,5.8,3.6,24.1,1.6,0.2,9.9,24.9,NaN,4.4,2.4,6.8,.125,NaN,1.5,-0.7,0.8,1.9,1994/1995
2,Michael Adams,PG,31,WSB,70,2337,14.2,.520,.274,.387,1.8,7.4,4.6,29.8,2.1,0.2,17.0,18.1,NaN,2.9,0.2,3.1,.063,NaN,0.5,-1.5,-1.0,0.6,1994/1995
3,Mark Aguirre,SF,34,LAC,39,859,13.1,.544,.267,.207,3.5,10.8,7.2,18.5,1.2,0.6,15.6,21.6,NaN,0.6,0.3,0.9,.050,NaN,-0.5,-1.4,-1.8,0.0,1994/1995
4,Danny Ainge,SG,34,PHO,68,1555,11.8,.524,.454,.175,2.0,7.4,4.7,15.9,1.8,0.3,12.3,17.8,NaN,1.9,1.0,2.8,.087,NaN,-0.8,-0.5,-1.3,0.3,1994/1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5594,Mike Woodson,SG,23,KCK,76,2186,17.8,.549,.024,.254,4.8,7.2,6.0,14.0,2.9,0.9,11.5,23.5,NaN,3.0,2.3,5.3,.116,NaN,1.4,0.9,2.3,2.3,1982/1983
5595,Orlando Woolridge,SF,22,CHI,75,1188,13.4,.565,.008,.523,8.2,13.3,10.8,10.1,0.9,1.1,18.1,20.9,NaN,1.0,0.8,1.8,.073,NaN,-1.1,-0.9,-2.1,0.0,1982/1983
5596,Sam Worthen,PG,24,UTA,5,22,1.9,.400,.000,.000,4.8,0.0,2.4,16.3,0.0,0.0,28.6,12.7,NaN,0.0,0.0,0.0,-0.096,NaN,-4.5,-0.5,-5.0,0.0,1982/1983
5597,Larry Wright,PG,27,DET,1,6,-17.2,.000,.000,.000,0.0,0.0,0.0,0.0,0.0,0.0,50.0,13.0,NaN,0.0,0.0,0.0,-0.349,NaN,-5.1,-0.2,-5.3,0.0,1982/1983
5598,Rich Yonakor,PF,23,SAS,10,70,20.4,.567,.000,.269,19.9,21.4,20.7,5.8,0.7,1.6,6.4,17.7,NaN,0.2,0.1,0.3,.201,NaN,-1.2,-0.6,-1.8,0.1,1982/1983

In [96]:
r_df = r_df.reset_index(drop=True)
r_df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,season,team
0,17,Vincent Askew,SG,6-6,210,"February 28, 1966",us,4,Memphis,1994/1995,SEA
1,44,Michael Cage,C,6-9,224,"January 28, 1962",us,9,San Diego State,1994/1995,SEA
2,3,Alphonso Ford,PG,6-1,190,"October 31, 1971",us,R,Mississippi Valley State University,1994/1995,SEA
3,13,Kendall Gill,SG,6-5,195,"May 25, 1968",us,3,Illinois,1994/1995,SEA
4,50,Ervin Johnson,C,6-11,245,"December 21, 1967",us,R,New Orleans,1994/1995,SEA
...,...,...,...,...,...,...,...,...,...,...,...
4869,17,Ollie Mack,SG,6-3,185,"June 6, 1957",us,2,East Carolina University,1982/1983,DAL
4870,40,Kurt Nimphius,C,6-10,218,"March 13, 1958",us,R,Arizona State,1982/1983,DAL
4871,34,Jim Spanarkel,SG,6-5,190,"June 28, 1957",us,2,Duke,1982/1983,DAL
4872,33,Elston Turner,SF,6-5,190,"June 10, 1959",us,R,Ole Miss,1982/1983,DAL
4873,31,Jay Vincent,PF,6-7,220,"June 10, 1959",us,R,Michigan State,1982/1983,DAL

In [97]:
r_df.to_csv("ros_df.csv", index = False)

In [98]:
# I am gonna save my dataframes in a new csv file
avg_df.to_csv("avg_df.csv", index = False)
adv_df.to_csv("adv_df.csv", index = False)

In [183]:
avg_df = pd.read_csv('avg_df.csv')
adv_df = pd.read_csv('adv_df.csv')
ros_df = pd.read_csv('ros_df.csv')

In [184]:
# Some players have * after their names from the websites. Therefore I had to remove the *s for all names.

avg_df['Player'] = avg_df['Player'].str.replace('*', '', regex=False)
adv_df['Player'] = adv_df['Player'].str.replace('*', '', regex=False)
ros_df['Player'] = ros_df['Player'].str.replace('*', '', regex=False)

In [185]:
# Adding a new column "team" to match our columns in our main dataframe

avg_df["team"] = avg_df["Tm"]
adv_df["team"] = adv_df["Tm"]

In [186]:
avg_df = avg_df[avg_df['Player'] != 'Player'] # Removing the multiple header columns in the dataframe
avg_df = avg_df[avg_df['team'] != 'TOT'] # Rows with TOT as their team column are rows where a player played mulitiple teams in a season and this row represent their average performance across the teams

In [187]:
avg_df.duplicated().sum()

0

In [188]:
adv_df = adv_df[adv_df['Player'] != 'Player']
avg_df = avg_df[avg_df['team'] != 'TOT']
avg_df = avg_df[avg_df['team'] != 'KCK'] #KCK is an old team that only exsist for 1 year in our dataframe which we don't need
adv_df.duplicated().sum()

0

In [189]:
avg_df

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,season,team
0,Alaa Abdelnaby,PF,25,BOS,13,0,12.2,1.8,4.2,.436,0.0,0.0,NaN,1.8,4.2,.436,.436,1.2,1.9,.640,0.9,2.6,3.5,0.2,0.2,0.2,1.3,1.5,4.9,1994/1995,BOS
1,Mahmoud Abdul-Rauf,PG,24,DEN,80,78,32.7,7.4,16.0,.460,0.5,1.7,.316,6.8,14.3,.476,.476,2.7,2.9,.956,0.3,1.8,2.1,4.5,1.0,0.1,1.9,1.9,18.0,1994/1995,DEN
2,Michael Adams,PG,31,WSB,70,67,33.4,4.1,10.0,.408,0.8,2.7,.288,3.3,7.2,.454,.448,3.2,3.9,.830,0.5,2.1,2.6,6.9,1.4,0.1,2.4,2.0,12.1,1994/1995,WSB
3,Mark Aguirre,SF,34,LAC,39,0,22.0,4.2,8.9,.468,0.9,2.4,.398,3.2,6.5,.494,.522,1.3,1.8,.694,0.7,2.3,3.0,2.7,0.5,0.2,1.8,2.5,10.6,1994/1995,LAC
4,Danny Ainge,SG,34,PHO,68,1,22.9,3.3,7.9,.417,1.2,3.6,.328,2.1,4.3,.491,.492,1.1,1.4,.830,0.4,1.5,1.9,2.6,0.8,0.1,1.2,2.1,8.9,1994/1995,PHO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5593,Mike Woodson,SG,23,NJN,7,0,20.7,4.3,9.7,.441,0.0,0.1,.000,4.3,9.6,.448,.441,3.3,4.6,.719,0.7,1.1,1.9,2.3,1.0,0.3,1.3,3.0,11.9,1982/1983,NJN
5595,Orlando Woolridge,SF,22,CHI,75,12,15.8,2.7,5.3,.513,0.0,0.0,.000,2.7,5.2,.517,.513,1.9,2.7,.699,1.1,1.9,3.0,1.1,0.3,0.3,1.4,2.0,7.3,1982/1983,CHI
5596,Sam Worthen,PG,24,UTA,5,0,4.4,0.4,1.0,.400,0.0,0.0,NaN,0.4,1.0,.400,.400,0.0,0.0,NaN,0.2,0.0,0.2,0.6,0.0,0.0,0.4,0.6,0.8,1982/1983,UTA
5597,Larry Wright,PG,27,DET,1,0,6.0,0.0,1.0,.000,0.0,0.0,NaN,0.0,1.0,.000,.000,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1982/1983,DET
5598,Rich Yonakor,PF,23,SAS,10,0,7.0,1.4,2.6,.538,0.0,0.0,NaN,1.4,2.6,.538,.538,0.5,0.7,.714,1.3,1.4,2.7,0.3,0.1,0.2,0.2,0.7,3.3,1982/1983,SAS

In [190]:
ros_df_selected = ros_df[["Player", "season", "Ht", "Wt", "Exp"]] #Making a new roster DF with these columns in
com_df = pd.merge(avg_df, ros_df_selected, on=['Player', 'season'], how='inner') # Making a combined df to merge our average df and roster df
com_df

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,season,team,Ht,Wt,Exp
0,Alaa Abdelnaby,PF,25,BOS,13,0,12.2,1.8,4.2,.436,0.0,0.0,NaN,1.8,4.2,.436,.436,1.2,1.9,.640,0.9,2.6,3.5,0.2,0.2,0.2,1.3,1.5,4.9,1994/1995,BOS,6-10,240,3
1,Mahmoud Abdul-Rauf,PG,24,DEN,80,78,32.7,7.4,16.0,.460,0.5,1.7,.316,6.8,14.3,.476,.476,2.7,2.9,.956,0.3,1.8,2.1,4.5,1.0,0.1,1.9,1.9,18.0,1994/1995,DEN,6-1,162,3
2,Michael Adams,PG,31,WSB,70,67,33.4,4.1,10.0,.408,0.8,2.7,.288,3.3,7.2,.454,.448,3.2,3.9,.830,0.5,2.1,2.6,6.9,1.4,0.1,2.4,2.0,12.1,1994/1995,WSB,5-10,162,8
3,Mark Aguirre,SF,34,LAC,39,0,22.0,4.2,8.9,.468,0.9,2.4,.398,3.2,6.5,.494,.522,1.3,1.8,.694,0.7,2.3,3.0,2.7,0.5,0.2,1.8,2.5,10.6,1994/1995,LAC,6-6,232,12
4,Danny Ainge,SG,34,PHO,68,1,22.9,3.3,7.9,.417,1.2,3.6,.328,2.1,4.3,.491,.492,1.1,1.4,.830,0.4,1.5,1.9,2.6,0.8,0.1,1.2,2.1,8.9,1994/1995,PHO,6-5,185,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5354,Mike Woodson,SG,23,NJN,7,0,20.7,4.3,9.7,.441,0.0,0.1,.000,4.3,9.6,.448,.441,3.3,4.6,.719,0.7,1.1,1.9,2.3,1.0,0.3,1.3,3.0,11.9,1982/1983,NJN,6-5,195,1
5355,Orlando Woolridge,SF,22,CHI,75,12,15.8,2.7,5.3,.513,0.0,0.0,.000,2.7,5.2,.517,.513,1.9,2.7,.699,1.1,1.9,3.0,1.1,0.3,0.3,1.4,2.0,7.3,1982/1983,CHI,6-9,215,R
5356,Sam Worthen,PG,24,UTA,5,0,4.4,0.4,1.0,.400,0.0,0.0,NaN,0.4,1.0,.400,.400,0.0,0.0,NaN,0.2,0.0,0.2,0.6,0.0,0.0,0.4,0.6,0.8,1982/1983,UTA,6-5,195,1
5357,Larry Wright,PG,27,DET,1,0,6.0,0.0,1.0,.000,0.0,0.0,NaN,0.0,1.0,.000,.000,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1982/1983,DET,6-1,160,5
5358,Rich Yonakor,PF,23,SAS,10,0,7.0,1.4,2.6,.538,0.0,0.0,NaN,1.4,2.6,.538,.538,0.5,0.7,.714,1.3,1.4,2.7,0.3,0.1,0.2,0.2,0.7,3.3,1982/1983,SAS,6-9,220,R

In [192]:
com_df

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,season,team,Ht,Wt,Exp
0,Alaa Abdelnaby,PF,25,BOS,13,0,12.2,1.8,4.2,.436,0.0,0.0,NaN,1.8,4.2,.436,.436,1.2,1.9,.640,0.9,2.6,3.5,0.2,0.2,0.2,1.3,1.5,4.9,1994/1995,BOS,6-10,240,3
1,Mahmoud Abdul-Rauf,PG,24,DEN,80,78,32.7,7.4,16.0,.460,0.5,1.7,.316,6.8,14.3,.476,.476,2.7,2.9,.956,0.3,1.8,2.1,4.5,1.0,0.1,1.9,1.9,18.0,1994/1995,DEN,6-1,162,3
2,Michael Adams,PG,31,WSB,70,67,33.4,4.1,10.0,.408,0.8,2.7,.288,3.3,7.2,.454,.448,3.2,3.9,.830,0.5,2.1,2.6,6.9,1.4,0.1,2.4,2.0,12.1,1994/1995,WSB,5-10,162,8
3,Mark Aguirre,SF,34,LAC,39,0,22.0,4.2,8.9,.468,0.9,2.4,.398,3.2,6.5,.494,.522,1.3,1.8,.694,0.7,2.3,3.0,2.7,0.5,0.2,1.8,2.5,10.6,1994/1995,LAC,6-6,232,12
4,Danny Ainge,SG,34,PHO,68,1,22.9,3.3,7.9,.417,1.2,3.6,.328,2.1,4.3,.491,.492,1.1,1.4,.830,0.4,1.5,1.9,2.6,0.8,0.1,1.2,2.1,8.9,1994/1995,PHO,6-5,185,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5354,Mike Woodson,SG,23,NJN,7,0,20.7,4.3,9.7,.441,0.0,0.1,.000,4.3,9.6,.448,.441,3.3,4.6,.719,0.7,1.1,1.9,2.3,1.0,0.3,1.3,3.0,11.9,1982/1983,NJN,6-5,195,1
5355,Orlando Woolridge,SF,22,CHI,75,12,15.8,2.7,5.3,.513,0.0,0.0,.000,2.7,5.2,.517,.513,1.9,2.7,.699,1.1,1.9,3.0,1.1,0.3,0.3,1.4,2.0,7.3,1982/1983,CHI,6-9,215,R
5356,Sam Worthen,PG,24,UTA,5,0,4.4,0.4,1.0,.400,0.0,0.0,NaN,0.4,1.0,.400,.400,0.0,0.0,NaN,0.2,0.0,0.2,0.6,0.0,0.0,0.4,0.6,0.8,1982/1983,UTA,6-5,195,1
5357,Larry Wright,PG,27,DET,1,0,6.0,0.0,1.0,.000,0.0,0.0,NaN,0.0,1.0,.000,.000,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1982/1983,DET,6-1,160,5
5358,Rich Yonakor,PF,23,SAS,10,0,7.0,1.4,2.6,.538,0.0,0.0,NaN,1.4,2.6,.538,.538,0.5,0.7,.714,1.3,1.4,2.7,0.3,0.1,0.2,0.2,0.7,3.3,1982/1983,SAS,6-9,220,R

In [193]:
adv_df_selected = adv_df[["Player", "team", "season", "PER", "TS%", "3PAr", "AST%", "STL%", "BLK%", "TOV%", "USG%", "OWS", "WS", "WS/48", "BPM", "OBPM", "VORP", "TRB%"]]
com_df = pd.merge(com_df, adv_df_selected, on=['Player', 'team', 'season'], how='left')

In [194]:
pd.set_option('display.max_columns', None)
com_df

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,season,team,Ht,Wt,Exp,PER,TS%,3PAr,AST%,STL%,BLK%,TOV%,USG%,OWS,WS,WS/48,BPM,OBPM,VORP,TRB%
0,Alaa Abdelnaby,PF,25,BOS,13,0,12.2,1.8,4.2,.436,0.0,0.0,NaN,1.8,4.2,.436,.436,1.2,1.9,.640,0.9,2.6,3.5,0.2,0.2,0.2,1.3,1.5,4.9,1994/1995,BOS,6-10,240,3,9.2,.485,.000,2.7,0.6,1.2,20.5,22.6,-0.2,-0.1,-0.032,-7.4,-5.3,-0.2,16.3
1,Mahmoud Abdul-Rauf,PG,24,DEN,80,78,32.7,7.4,16.0,.460,0.5,1.7,.316,6.8,14.3,.476,.476,2.7,2.9,.956,0.3,1.8,2.1,4.5,1.0,0.1,1.9,1.9,18.0,1994/1995,DEN,6-1,162,3,16.7,.521,.104,24.1,1.6,0.2,9.9,24.9,4.4,6.8,.125,0.8,1.5,1.9,3.6
2,Michael Adams,PG,31,WSB,70,67,33.4,4.1,10.0,.408,0.8,2.7,.288,3.3,7.2,.454,.448,3.2,3.9,.830,0.5,2.1,2.6,6.9,1.4,0.1,2.4,2.0,12.1,1994/1995,WSB,5-10,162,8,14.2,.520,.274,29.8,2.1,0.2,17.0,18.1,2.9,3.1,.063,-1.0,0.5,0.6,4.6
3,Mark Aguirre,SF,34,LAC,39,0,22.0,4.2,8.9,.468,0.9,2.4,.398,3.2,6.5,.494,.522,1.3,1.8,.694,0.7,2.3,3.0,2.7,0.5,0.2,1.8,2.5,10.6,1994/1995,LAC,6-6,232,12,13.1,.544,.267,18.5,1.2,0.6,15.6,21.6,0.6,0.9,.050,-1.8,-0.5,0.0,7.2
4,Danny Ainge,SG,34,PHO,68,1,22.9,3.3,7.9,.417,1.2,3.6,.328,2.1,4.3,.491,.492,1.1,1.4,.830,0.4,1.5,1.9,2.6,0.8,0.1,1.2,2.1,8.9,1994/1995,PHO,6-5,185,12,11.8,.524,.454,15.9,1.8,0.3,12.3,17.8,1.9,2.8,.087,-1.3,-0.8,0.3,4.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5358,Mike Woodson,SG,23,NJN,7,0,20.7,4.3,9.7,.441,0.0,0.1,.000,4.3,9.6,.448,.441,3.3,4.6,.719,0.7,1.1,1.9,2.3,1.0,0.3,1.3,3.0,11.9,1982/1983,NJN,6-5,195,1,15.1,.506,.015,16.3,2.2,0.8,9.9,25.1,0.2,0.4,.123,-1.0,-1.5,0.1,5.1
5359,Orlando Woolridge,SF,22,CHI,75,12,15.8,2.7,5.3,.513,0.0,0.0,.000,2.7,5.2,.517,.513,1.9,2.7,.699,1.1,1.9,3.0,1.1,0.3,0.3,1.4,2.0,7.3,1982/1983,CHI,6-9,215,R,13.4,.565,.008,10.1,0.9,1.1,18.1,20.9,1.0,1.8,.073,-2.1,-1.1,0.0,10.8
5360,Sam Worthen,PG,24,UTA,5,0,4.4,0.4,1.0,.400,0.0,0.0,NaN,0.4,1.0,.400,.400,0.0,0.0,NaN,0.2,0.0,0.2,0.6,0.0,0.0,0.4,0.6,0.8,1982/1983,UTA,6-5,195,1,1.9,.400,.000,16.3,0.0,0.0,28.6,12.7,0.0,0.0,-0.096,-5.0,-4.5,0.0,2.4
5361,Larry Wright,PG,27,DET,1,0,6.0,0.0,1.0,.000,0.0,0.0,NaN,0.0,1.0,.000,.000,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1982/1983,DET,6-1,160,5,-17.2,.000,.000,0.0,0.0,0.0,50.0,13.0,0.0,0.0,-0.349,-5.3,-5.1,0.0,0.0
5362,Rich Yonakor,PF,23,SAS,10,0,7.0,1.4,2.6,.538,0.0,0.0,NaN,1.4,2.6,.538,.538,0.5,0.7,.714,1.3,1.4,2.7,0.3,0.1,0.2,0.2,0.7,3.3,1982/1983,SAS,6-9,220,R,20.4,.567,.000,5.8,0.7,1.6,6.4,17.7,0.2,0.3,.201,-1.8,-1.2,0.1,20.7

In [195]:
com_df = com_df.drop_duplicates()
com_df.duplicated().sum()

0

In [196]:
com_df

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,season,team,Ht,Wt,Exp,PER,TS%,3PAr,AST%,STL%,BLK%,TOV%,USG%,OWS,WS,WS/48,BPM,OBPM,VORP,TRB%
0,Alaa Abdelnaby,PF,25,BOS,13,0,12.2,1.8,4.2,.436,0.0,0.0,NaN,1.8,4.2,.436,.436,1.2,1.9,.640,0.9,2.6,3.5,0.2,0.2,0.2,1.3,1.5,4.9,1994/1995,BOS,6-10,240,3,9.2,.485,.000,2.7,0.6,1.2,20.5,22.6,-0.2,-0.1,-0.032,-7.4,-5.3,-0.2,16.3
1,Mahmoud Abdul-Rauf,PG,24,DEN,80,78,32.7,7.4,16.0,.460,0.5,1.7,.316,6.8,14.3,.476,.476,2.7,2.9,.956,0.3,1.8,2.1,4.5,1.0,0.1,1.9,1.9,18.0,1994/1995,DEN,6-1,162,3,16.7,.521,.104,24.1,1.6,0.2,9.9,24.9,4.4,6.8,.125,0.8,1.5,1.9,3.6
2,Michael Adams,PG,31,WSB,70,67,33.4,4.1,10.0,.408,0.8,2.7,.288,3.3,7.2,.454,.448,3.2,3.9,.830,0.5,2.1,2.6,6.9,1.4,0.1,2.4,2.0,12.1,1994/1995,WSB,5-10,162,8,14.2,.520,.274,29.8,2.1,0.2,17.0,18.1,2.9,3.1,.063,-1.0,0.5,0.6,4.6
3,Mark Aguirre,SF,34,LAC,39,0,22.0,4.2,8.9,.468,0.9,2.4,.398,3.2,6.5,.494,.522,1.3,1.8,.694,0.7,2.3,3.0,2.7,0.5,0.2,1.8,2.5,10.6,1994/1995,LAC,6-6,232,12,13.1,.544,.267,18.5,1.2,0.6,15.6,21.6,0.6,0.9,.050,-1.8,-0.5,0.0,7.2
4,Danny Ainge,SG,34,PHO,68,1,22.9,3.3,7.9,.417,1.2,3.6,.328,2.1,4.3,.491,.492,1.1,1.4,.830,0.4,1.5,1.9,2.6,0.8,0.1,1.2,2.1,8.9,1994/1995,PHO,6-5,185,12,11.8,.524,.454,15.9,1.8,0.3,12.3,17.8,1.9,2.8,.087,-1.3,-0.8,0.3,4.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5358,Mike Woodson,SG,23,NJN,7,0,20.7,4.3,9.7,.441,0.0,0.1,.000,4.3,9.6,.448,.441,3.3,4.6,.719,0.7,1.1,1.9,2.3,1.0,0.3,1.3,3.0,11.9,1982/1983,NJN,6-5,195,1,15.1,.506,.015,16.3,2.2,0.8,9.9,25.1,0.2,0.4,.123,-1.0,-1.5,0.1,5.1
5359,Orlando Woolridge,SF,22,CHI,75,12,15.8,2.7,5.3,.513,0.0,0.0,.000,2.7,5.2,.517,.513,1.9,2.7,.699,1.1,1.9,3.0,1.1,0.3,0.3,1.4,2.0,7.3,1982/1983,CHI,6-9,215,R,13.4,.565,.008,10.1,0.9,1.1,18.1,20.9,1.0,1.8,.073,-2.1,-1.1,0.0,10.8
5360,Sam Worthen,PG,24,UTA,5,0,4.4,0.4,1.0,.400,0.0,0.0,NaN,0.4,1.0,.400,.400,0.0,0.0,NaN,0.2,0.0,0.2,0.6,0.0,0.0,0.4,0.6,0.8,1982/1983,UTA,6-5,195,1,1.9,.400,.000,16.3,0.0,0.0,28.6,12.7,0.0,0.0,-0.096,-5.0,-4.5,0.0,2.4
5361,Larry Wright,PG,27,DET,1,0,6.0,0.0,1.0,.000,0.0,0.0,NaN,0.0,1.0,.000,.000,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1982/1983,DET,6-1,160,5,-17.2,.000,.000,0.0,0.0,0.0,50.0,13.0,0.0,0.0,-0.349,-5.3,-5.1,0.0,0.0
5362,Rich Yonakor,PF,23,SAS,10,0,7.0,1.4,2.6,.538,0.0,0.0,NaN,1.4,2.6,.538,.538,0.5,0.7,.714,1.3,1.4,2.7,0.3,0.1,0.2,0.2,0.7,3.3,1982/1983,SAS,6-9,220,R,20.4,.567,.000,5.8,0.7,1.6,6.4,17.7,0.2,0.3,.201,-1.8,-1.2,0.1,20.7

In [197]:
com_df.isna().sum()

Player      0
Pos         0
Age         0
Tm          0
G           0
GS          0
MP          0
FG          0
FGA         0
FG%        17
3P          0
3PA         0
3P%       900
2P          0
2PA         0
2P%        21
eFG%       17
FT          0
FTA         0
FT%       146
ORB         0
DRB         0
TRB         0
AST         0
STL         0
BLK         0
TOV         0
PF          0
PTS         0
season      0
team        0
Ht          0
Wt          0
Exp         0
PER         0
TS%        12
3PAr       17
AST%        0
STL%        0
BLK%        0
TOV%       10
USG%        0
OWS         0
WS          0
WS/48       0
BPM         0
OBPM        0
VORP        0
TRB%        0
dtype: int64

In [198]:
# All the null values for percentage values exsist when a player didn't attempt any of the specific shot for a whole season, so I just fill these null values with a 0.

com_df['FG%'] = com_df['FG%'].fillna(0)
com_df['3P%'] = com_df['3P%'].fillna(0)
com_df['2P%'] = com_df['2P%'].fillna(0)
com_df['FG%'] = com_df['FG%'].fillna(0)
com_df['eFG%'] = com_df['eFG%'].fillna(0)
com_df['FT%'] = com_df['FT%'].fillna(0)
com_df['TS%'] = com_df['TS%'].fillna(0)
com_df['3PAr'] = com_df['3PAr'].fillna(0)
com_df['TOV%'] = com_df['TOV%'].fillna(0)

C:\Users\ivant\AppData\Local\Temp\ipykernel_20284\1954014539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  com_df['FG%'] = com_df['FG%'].fillna(0)
C:\Users\ivant\AppData\Local\Temp\ipykernel_20284\1954014539.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  com_df['3P%'] = com_df['3P%'].fillna(0)
C:\Users\ivant\AppData\Local\Temp\ipykernel_20284\1954014539.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  com_df['2P%'] = com_df['2P%'].fillna(0)
C:\Users\ivant\AppData\Local\Temp\ipykernel_20284\1954014539.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  com_df['FG%'] = com_df['FG%'].fillna(0)
C:\Users\ivant\AppData\Local\Temp\ipykernel_20284\1954014539.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  com_df['eFG%'] = com_df['eFG%'].fillna(0)
C:\Users\ivant\AppData\Local\Temp\ipykernel_20284\1954014539.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  com_df['FT%'] = com_df['FT%'].fillna(0)
C:\Users\ivant\AppData\Local\Temp\ipykernel_20284\1954014539.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  com_df['TS%'] = com_df['TS%'].fillna(0)
C:\Users\ivant\AppData\Local\Temp\ipykernel_20284\1954014539.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  com_df['3PAr'] = com_df['3PAr'].fillna(0)
C:\Users\ivant\AppData\Local\Temp\ipykernel_20284\1954014539.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  com_df['TOV%'] = com_df['TOV%'].fillna(0)

In [199]:
#com_df = com_df.dropna()
com_df.isna().sum()

Player    0
Pos       0
Age       0
Tm        0
G         0
GS        0
MP        0
FG        0
FGA       0
FG%       0
3P        0
3PA       0
3P%       0
2P        0
2PA       0
2P%       0
eFG%      0
FT        0
FTA       0
FT%       0
ORB       0
DRB       0
TRB       0
AST       0
STL       0
BLK       0
TOV       0
PF        0
PTS       0
season    0
team      0
Ht        0
Wt        0
Exp       0
PER       0
TS%       0
3PAr      0
AST%      0
STL%      0
BLK%      0
TOV%      0
USG%      0
OWS       0
WS        0
WS/48     0
BPM       0
OBPM      0
VORP      0
TRB%      0
dtype: int64

In [200]:
com_df.drop(['Tm'], axis=1, inplace=True) # We don't need the 'Tm' column as we already made a "team" column

c:\Users\ivant\anaconda3\envs\capstone\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [201]:
com_df # We now have a overall dataframe for our newly scraped data. This dataframe contains the same columns as our main dataframe in our other notebook, which is what we want.

,Player,Pos,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,season,team,Ht,Wt,Exp,PER,TS%,3PAr,AST%,STL%,BLK%,TOV%,USG%,OWS,WS,WS/48,BPM,OBPM,VORP,TRB%
0,Alaa Abdelnaby,PF,25,13,0,12.2,1.8,4.2,.436,0.0,0.0,0,1.8,4.2,.436,.436,1.2,1.9,.640,0.9,2.6,3.5,0.2,0.2,0.2,1.3,1.5,4.9,1994/1995,BOS,6-10,240,3,9.2,.485,.000,2.7,0.6,1.2,20.5,22.6,-0.2,-0.1,-0.032,-7.4,-5.3,-0.2,16.3
1,Mahmoud Abdul-Rauf,PG,24,80,78,32.7,7.4,16.0,.460,0.5,1.7,.316,6.8,14.3,.476,.476,2.7,2.9,.956,0.3,1.8,2.1,4.5,1.0,0.1,1.9,1.9,18.0,1994/1995,DEN,6-1,162,3,16.7,.521,.104,24.1,1.6,0.2,9.9,24.9,4.4,6.8,.125,0.8,1.5,1.9,3.6
2,Michael Adams,PG,31,70,67,33.4,4.1,10.0,.408,0.8,2.7,.288,3.3,7.2,.454,.448,3.2,3.9,.830,0.5,2.1,2.6,6.9,1.4,0.1,2.4,2.0,12.1,1994/1995,WSB,5-10,162,8,14.2,.520,.274,29.8,2.1,0.2,17.0,18.1,2.9,3.1,.063,-1.0,0.5,0.6,4.6
3,Mark Aguirre,SF,34,39,0,22.0,4.2,8.9,.468,0.9,2.4,.398,3.2,6.5,.494,.522,1.3,1.8,.694,0.7,2.3,3.0,2.7,0.5,0.2,1.8,2.5,10.6,1994/1995,LAC,6-6,232,12,13.1,.544,.267,18.5,1.2,0.6,15.6,21.6,0.6,0.9,.050,-1.8,-0.5,0.0,7.2
4,Danny Ainge,SG,34,68,1,22.9,3.3,7.9,.417,1.2,3.6,.328,2.1,4.3,.491,.492,1.1,1.4,.830,0.4,1.5,1.9,2.6,0.8,0.1,1.2,2.1,8.9,1994/1995,PHO,6-5,185,12,11.8,.524,.454,15.9,1.8,0.3,12.3,17.8,1.9,2.8,.087,-1.3,-0.8,0.3,4.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5358,Mike Woodson,SG,23,7,0,20.7,4.3,9.7,.441,0.0,0.1,.000,4.3,9.6,.448,.441,3.3,4.6,.719,0.7,1.1,1.9,2.3,1.0,0.3,1.3,3.0,11.9,1982/1983,NJN,6-5,195,1,15.1,.506,.015,16.3,2.2,0.8,9.9,25.1,0.2,0.4,.123,-1.0,-1.5,0.1,5.1
5359,Orlando Woolridge,SF,22,75,12,15.8,2.7,5.3,.513,0.0,0.0,.000,2.7,5.2,.517,.513,1.9,2.7,.699,1.1,1.9,3.0,1.1,0.3,0.3,1.4,2.0,7.3,1982/1983,CHI,6-9,215,R,13.4,.565,.008,10.1,0.9,1.1,18.1,20.9,1.0,1.8,.073,-2.1,-1.1,0.0,10.8
5360,Sam Worthen,PG,24,5,0,4.4,0.4,1.0,.400,0.0,0.0,0,0.4,1.0,.400,.400,0.0,0.0,0,0.2,0.0,0.2,0.6,0.0,0.0,0.4,0.6,0.8,1982/1983,UTA,6-5,195,1,1.9,.400,.000,16.3,0.0,0.0,28.6,12.7,0.0,0.0,-0.096,-5.0,-4.5,0.0,2.4
5361,Larry Wright,PG,27,1,0,6.0,0.0,1.0,.000,0.0,0.0,0,0.0,1.0,.000,.000,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1982/1983,DET,6-1,160,5,-17.2,.000,.000,0.0,0.0,0.0,50.0,13.0,0.0,0.0,-0.349,-5.3,-5.1,0.0,0.0
5362,Rich Yonakor,PF,23,10,0,7.0,1.4,2.6,.538,0.0,0.0,0,1.4,2.6,.538,.538,0.5,0.7,.714,1.3,1.4,2.7,0.3,0.1,0.2,0.2,0.7,3.3,1982/1983,SAS,6-9,220,R,20.4,.567,.000,5.8,0.7,1.6,6.4,17.7,0.2,0.3,.201,-1.8,-1.2,0.1,20.7

In [202]:
com_df.to_csv("com_df.csv", index = False)